openapi: 3.1.0
info:
   title: ManageXR API
   description: API documentation for ManageXR
   version: 1.0.0
servers:
   - url: https://managexrapi.com
     description: ManageXR API Server

paths:
   # v1 Endpoints:
   ##################################################
   # Devices
   ##################################################
   /v1/devices/:
      get:
         summary: List devices
         description: Retrieve a list of devices
         parameters:
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
            - name: names
              in: query
              required: false
              schema:
                 type: string
              description: Query by device name. Allows partial matching. Separate multiple name parameters by comma.
            - name: serials
              in: query
              required: false
              schema:
                 type: string
              description: Query by device serial. Allows partial matching. Separate multiple serial parameters by comma.
            - name: configurations
              in: query
              required: false
              schema:
                 type: string
              description: Query by configuration unique identifier. Separate multiple configuration id parameters by comma.
            - name: tags
              in: query
              required: false
              schema:
                 type: string
              description: Query by tag unique identifier. Separate multiple tag id parameters by comma.
            - name: models
              in: query
              required: false
              schema:
                 type: string
              description: Query by model name. Separate multiple model parameters by comma.
            - name: manufacturers
              in: query
              required: false
              schema:
                 type: string
              description: Query by manufacturer name. Separate multiple manufacturer parameters by comma.
            - name: firmwareVersions
              in: query
              required: false
              schema:
                 type: string
              description: Query by firmware version. Separate multiple firmware version parameters by comma.
            - name: filters
              in: query
              required: false
              schema:
                 type: string
                 enum:
                    - online
                    - offline
                    - upToDate
                    - outOfDate
                    - updateError
                    - updating
                    - paused
                    - lowBattery
                    - activeToday
                    - activeWeek
                    - activeMonth
                    - activeOther
                    - factoryResetPending
                    - factoryReset
              description: Query by filter.
         responses:
            "200":
               description: A list of devices
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: array
                              items:
                                 $ref: "#/components/schemas/V1Device"
            "404":
               description: Device not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "Not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "Not found error"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
   /v1/devices/{id}:
      get:
         summary: Get device
         description: Retrieve a device by id (serial number)
         parameters:
            - name: id
              in: path
              required: true
              schema:
                 type: string
              description: Unique identifier (serial number) of the device
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         responses:
            "200":
               description: A device object
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              $ref: "#/components/schemas/V1Device"
            "404":
               description: Device not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "Not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "Not found error"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
      patch:
         summary: Update a device by id
         description: Update device metadata or apply a new configuration
         parameters:
            - name: id
              in: path
              required: true
              schema:
                 type: string
              description: Unique identifier (serial number) of the device
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        name:
                           type: string
                           description: Name of the device
                           example: "Device_123"
                        configurationId:
                           type: string
                           description: ID of new configuration to assign to the device
                           example: "AKDJF139UGNLA12J"
                        notes:
                           type: string
                           description: Device notes
                           example: "This device was recently moved on 9/15"
                        tagIds:
                           type: array
                           items:
                              type: string
                           description: Ids of tags to apply to device
                           example: ["KADJFL2U4T", "AKLU32OI2QU5U"]
         responses:
            "200":
               description: Success
            "404":
               description: Device not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "Not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "Not found error"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
   /v1/devices/set-pause-updates:
      post:
         summary: Set pause updates for devices
         description: |
            Pause or resume configuration updates for devices.

            Pausing configuration updates stops a device from syncing with its latest Configuration. User-initiated changes to Configurations and ManageXR-initiated updates to the ManageXR Admin App and Home Screen will not propagate to devices with updates paused.
         parameters:
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        deviceIds:
                           type: array
                           items:
                              type: string
                           description: Array of device IDs (serial numbers) to update.
                        pauseUpdates:
                           type: boolean
                           description: Whether to pause (true) or resume (false) configuration updates.
                     required:
                        - deviceIds
                        - pauseUpdates
                  examples:
                     example-pause:
                        summary: Pause updates for devices
                        value:
                           deviceIds:
                              - 2G0YC1ZF630NZA
                              - PA7950RGGC06043
                           pauseUpdates: true
                     example-resume:
                        summary: Resume updates for devices
                        value:
                           deviceIds:
                              - 2G0YC1ZF630NZA
                              - PA7950RGGC06043
                           pauseUpdates: false
         responses:
            "200":
               description: Success
   /v1/devices/{id}/command:
      post:
         summary: Send command
         description: |
            Send command to a specific device

            <small>Available Commands: Launch App, Play/Pause Video, Launch Web Url, Disable/Enable Kiosk, Restart, Power Off, Set Volume, Set Brightness, Uninstall App, Sync, Enable/Disable Tutorial Mode</small>
         parameters:
            - name: id
              in: path
              required: true
              schema:
                 type: string
              description: The ID (serial number) of the device.
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     oneOf:
                        - title: Launch App
                          type: object
                          properties:
                             action:
                                type: string
                                required: true
                                description: Launch an application on the device.
                                enum:
                                   - LAUNCH_APP
                                example: LAUNCH_APP
                             data:
                                type: object
                                properties:
                                   packageName:
                                      type: string
                                      required: true
                                      description: The package name of the app to be launched
                                      example: "com.myapp.quest"
                                   launchParams:
                                      type: object
                                      description: |
                                         (Optional) Additional custom launch parameters

                                         e.g., { userId: 'ABC123', booleanValue: true, arrayValue: [1.23, 4.56], mapValue: { key: 'more stuff' }}
                                      example:
                                         userId: "ABC123"
                                         booleanValue: true
                                         floatValue: 100.29
                                         arrayValue: [1.23, 4.56]
                                         mapValue: { key: "more stuff" }
                                      required: false
                        - title: Play / Pause Video
                          type: object
                          properties:
                             action:
                                type: string
                                description: Play or pause video on the device.
                                enum:
                                   - PLAY_VIDEO
                                   - PAUSE_VIDEO
                                example: PLAY_VIDEO
                             data:
                                type: object
                                properties:
                                   videoId:
                                      type: string
                                      description: |
                                         The id of the video to play or pause. 

                                         To find a videoId, go to the video in your VR Content library on the Web Console and retrieve it from the url parameters (e.g. console.managexr.com/o/{orgId}/vr-content/edit/video/**FeWVcu7Rq4X3rmwGZGM6**).
                                   playFromBeginning:
                                      type: boolean
                                      description: (Optional) Plays video from the beginning. If falsy and the video is already open, play resumes from position.
                        - title: Launch Web Url
                          type: object
                          properties:
                             action:
                                type: string
                                description: Launch a specific webxr link on the device. Requires the data field to be populated (see below)
                                enum:
                                   - LAUNCH_WEB_URL
                                example: LAUNCH_WEB_URL
                             data:
                                type: object
                                properties:
                                   url:
                                      type: string
                                      description: The url of the webxr link to launch
                        - title: Disable / Enable Kiosk Mode
                          type: object
                          properties:
                             action:
                                type: string
                                description: |
                                   Override the device experience set on the Configuration. 

                                   `DISABLE_KIOSK` - Disable Kiosk Mode / ManageXR Home Screen on the device. Grants users full access to the default system menus. Sets `kioskModeOverride` flag on device to `true`.

                                   `ENABLE_KIOSK` - Re-Enable Kiosk Mode / ManageXR Home Screen on the device. Sets `kioskModeOverride` flag on device to `false`.

                                   _Note_, if the Configuration applied to a device uses Default Device Menus, the kioskModeOverride flag is a no-op.
                                enum:
                                   - DISABLE_KIOSK
                                   - ENABLE_KIOSK
                                example: DISABLE_KIOSK
                        - title: Restart
                          type: object
                          properties:
                             action:
                                type: string
                                description: Reboot the device.
                                enum:
                                   - RESTART
                                example: RESTART
                        - title: Power OFF
                          type: object
                          properties:
                             action:
                                type: string
                                description: Remotely turn off device. Supported on Meta Quest v77+ enrolled through MHMS, Pico Neo 3s PUI 5+, Pico 4 Ultra Enterprise devices.
                                enum:
                                   - POWER_OFF
                                example: POWER_OFF
                        - title: Set Volume
                          type: object
                          properties:
                             action:
                                type: string
                                description: Set volume on device. Supply a level between 0 and 100.
                                enum:
                                   - SET_VOLUME
                                example: SET_VOLUME
                             data:
                                type: object
                                properties:
                                   level:
                                      type: number
                                      description: The volume level to set. Choose a value between 0 and 100.
                        - title: Set Brightness
                          type: object
                          properties:
                             action:
                                type: string
                                description: Set display brightness on device. Supply a level between 0 and 100.
                                enum:
                                   - SET_BRIGHTNESS
                                example: SET_BRIGHTNESS
                             data:
                                type: object
                                properties:
                                   level:
                                      type: number
                                      description: The display brightness level to set. Choose a value between 0 and 100.
                        - title: Uninstall App
                          type: object
                          properties:
                             action:
                                type: string
                                description: |
                                   Uninstall an application on the device. 

                                   Cannot uninstall system apps. If you uninstall an app that is still on a devices's configuration, it will automatically re-download the next time the device syncs.
                                enum:
                                   - UNINSTALL_APP
                                example: UNINSTALL_APP
                             data:
                                type: object
                                properties:
                                   packageName:
                                      type: string
                                      description: The package name of the app to uninstall
                        - title: Restart App
                          type: object
                          properties:
                             action:
                                type: string
                                description: Restart an app
                                enum:
                                   - RESTART_APP
                                example: RESTART_APP
                             data:
                                type: object
                                properties:
                                   packageName:
                                      type: string
                                      description: The package name of the app to restart
                        - title: Sync
                          type: object
                          properties:
                             action:
                                type: string
                                description: Force device to check in with ManageXR. Online devices sync every 15 minutes or immediately when configuration changes are made.
                                enum:
                                   - SYNC
                                example: SYNC
                             data:
                                type: object
                                properties:
                                    forceSync:
                                       type: boolean
                                       description: Optional parameter. If true, forces device to sync immediately regardless of update schedule set on configuration
                        - title: Enable / Disable Tutorial Mode
                          type: object
                          properties:
                             action:
                                type: string
                                description: When Tutorial Mode in enabled, the device launches into its tutorial app on boot. Set the tutorial app in Configuration > Device Settings.
                                enum:
                                   - ENABLE_TUTORIAL_MODE
                                   - DISABLE_TUTORIAL_MODE
                                example: ENABLE_TUTORIAL_MODE
                  examples:
                     example-sync:
                        summary: Sync command
                        value:
                           action: SYNC
                     example-launch_app:
                        summary: Launch App command
                        value:
                           action: LAUNCH_APP
                           data:
                              packageName: com.example.app
                     example-launch_app_with_params:
                        summary: Launch app with parameters
                        value:
                           action: LAUNCH_APP
                           data:
                              packageName: com.example.app
                              launchParams:
                                 userId: AX3EIUf89
                                 booleanValue: true
                                 floatValue: 100.29
                                 arrayValue: [1.23, 4.56]
                                 mapValue:
                                    key: value
                     example-launch_webxr:
                        summary: Launch webxr link
                        value:
                           action: LAUNCH_WEB_URL
                           data:
                              url: https://google.com
         responses:
            "200":
               description: Success
            "400":
               description: Request must contain valid action
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Request must contain a valid action"
                           error:
                              type: string
                              example: "ManageXR Error"
            "404":
               description: Device not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "Not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "Not found error"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
   /v1/devices/batch-command:
      post:
         summary: Send a command to multiple devices at once
         description: |
            Send a command to multiple devices at once

            <small>Available Commands: Launch App, Play/Pause Video, Launch Web Url, Disable/Enable Kiosk, Restart, Power Off, Set Volume, Set Brightness, Uninstall App, Sync, Enable/Disable Tutorial Mode </small>
         parameters:
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     oneOf:
                        - title: Launch App
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                required: true
                                description: Launch an application on the devices
                                enum:
                                   - LAUNCH_APP
                                example: LAUNCH_APP
                             data:
                                type: object
                                properties:
                                   packageName:
                                      type: string
                                      required: true
                                      description: The package name of the app to be launched
                                      example: "com.myapp.quest"
                                   launchParams:
                                      type: object
                                      description: |
                                         (Optional) Additional custom launch parameters

                                         e.g., { userId: 'ABC123', booleanValue: true, arrayValue: [1.23, 4.56], mapValue: { key: 'more stuff' }}
                                      example:
                                         userId: "ABC123"
                                         booleanValue: true
                                         floatValue: 100.29
                                         arrayValue: [1.23, 4.56]
                                         mapValue: { key: "more stuff" }
                                      required: false
                        - title: Play / Pause Video
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: Play or pause video on the devices
                                enum:
                                   - PLAY_VIDEO
                                   - PAUSE_VIDEO
                                example: PLAY_VIDEO
                             data:
                                type: object
                                properties:
                                   videoId:
                                      type: string
                                      description: |
                                         The id of the video to play or pause. 

                                         To find a videoId, go to the video in your VR Content library on the Web Console and retrieve it from the url parameters (e.g. console.managexr.com/o/{orgId}/vr-content/edit/video/**FeWVcu7Rq4X3rmwGZGM6**).
                                   playFromBeginning:
                                      type: boolean
                                      description: (Optional) Plays video from the beginning. If falsy and the video is already open, play resumes from position.
                        - title: Launch Web Url
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: Launch a specific WebXR link on the devices. Requires the data field to be populated (see below)
                                enum:
                                   - LAUNCH_WEB_URL
                                example: LAUNCH_WEB_URL
                             data:
                                type: object
                                properties:
                                   url:
                                      type: string
                                      description: The url of the webxr link to launch
                        - title: Disable / Enable Kiosk Mode
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: |
                                   Override the device experience set on the Configuration. 

                                   `DISABLE_KIOSK` - Disable Kiosk Mode / ManageXR Home Screen on the devices. Grants users full access to the default system menus. Sets `kioskModeOverride` flag on devices to `true`.

                                   `ENABLE_KIOSK` - Re-Enable Kiosk Mode / ManageXR Home Screen on the devices. Sets `kioskModeOverride` flag on devices to `false`.

                                   _Note_, if the Configuration applied to a device uses Default Device Menus, the kioskModeOverride flag is a no-op.
                                enum:
                                   - DISABLE_KIOSK
                                   - ENABLE_KIOSK
                                example: DISABLE_KIOSK
                        - title: Restart
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: Reboot the devices
                                enum:
                                   - RESTART
                                example: RESTART
                        - title: Power OFF
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: Remotely turn off devices. Supported on Meta Quest v77+ enrolled through MHMS, Pico Neo 3s PUI 5+, Pico 4 Ultra Enterprise devices.
                                enum:
                                   - POWER_OFF
                                example: POWER_OFF
                        - title: Set Volume
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: Set volume on device. Supply a level between 0 and 100.
                                enum:
                                   - SET_VOLUME
                                example: SET_VOLUME
                             data:
                                type: object
                                properties:
                                   level:
                                      type: number
                                      description: The volume level to set. Choose a value between 0 and 100.
                        - title: Set Brightness
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: Set brightness on device. Supply a level between 0 and 100.
                                enum:
                                   - SET_BRIGHTNESS
                                example: SET_BRIGHTNESS
                             data:
                                type: object
                                properties:
                                   level:
                                      type: number
                                      description: The brightness level to set. Choose a value between 0 and 100.
                        - title: Uninstall App
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: |
                                   Uninstall an application on the devices. 

                                   Cannot uninstall system apps. If you uninstall an app that is still on a devices's configuration, it will automatically re-download the next time the device syncs.
                                enum:
                                   - UNINSTALL_APP
                                example: LAUNCH_APP
                             data:
                                type: object
                                properties:
                                   packageName:
                                      type: string
                                      description: The package name of the app to uninstall
                        - title: Restart App
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: Restart an app
                                enum:
                                   - RESTART_APP
                                example: RESTART_APP
                             data:
                                type: object
                                properties:
                                   packageName:
                                      type: string
                                      description: The package name of the app to restart
                        - title: Sync
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: Force devices to check in with ManageXR. Online devices sync every 15 minutes or immediately when configuration changes are made.
                                enum:
                                   - SYNC
                                example: SYNC
                             data:
                                type: object
                                properties:
                                   forceSync:
                                      type: boolean
                                      description: Optional parameter. If true, forces device to sync immediately regardless of update schedule set on configuration
                        - title: Enable / Disable Tutorial Mode
                          type: object
                          properties:
                             deviceIds:
                                type: array
                                items:
                                   type: string
                                description: List of unique identifiers (serial numbers) of devices
                             action:
                                type: string
                                description: When Tutorial Mode in enabled, the devices launch into their tutorial app on boot. Set the tutorial app in Configuration > Device Settings.
                                enum:
                                   - ENABLE_TUTORIAL_MODE
                                   - DISABLE_TUTORIAL_MODE
                                example: ENABLE_TUTORIAL_MODE
                  examples:
                     example-sync:
                        summary: Sync command
                        value:
                           deviceIds:
                              ["fJlJrjEL08UkhSLRRryd", "GrCQfwI4373WFqzVjguI"]
                           action: SYNC
                     example-launch_app:
                        summary: Launch App command
                        value:
                           deviceIds:
                              ["fJlJrjEL08UkhSLRRryd", "GrCQfwI4373WFqzVjguI"]
                           action: LAUNCH_APP
                           data:
                              packageName: com.example.app
                     example-launch_app_with_params:
                        summary: Launch app with parameters
                        value:
                           deviceIds:
                              ["fJlJrjEL08UkhSLRRryd", "GrCQfwI4373WFqzVjguI"]
                           action: LAUNCH_APP
                           data:
                              packageName: com.example.app
                              launchParams:
                                 userId: AX3EIUf89
                                 booleanValue: true
                                 floatValue: 100.29
                                 arrayValue: [1.23, 4.56]
                                 mapValue:
                                    key: value
                     example-launch_webxr:
                        summary: Launch webxr link
                        value:
                           deviceIds:
                              ["fJlJrjEL08UkhSLRRryd", "GrCQfwI4373WFqzVjguI"]
                           action: LAUNCH_WEB_URL
                           data:
                              url: https://google.com
         responses:
            "200":
               description: Success
            "400":
               description: Request must contain valid action
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Request must contain a valid action"
                           error:
                              type: string
                              example: "ManageXR Error"
            "404":
               description: Device not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "Not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "Not found error"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
   ##################################################
   # Files
   ##################################################
   /v1/files/:
      get:
         summary: List files in organization
         description: List all files present in the organization's library
         parameters:
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         responses:
            "200":
               description: An array of all files in the organization
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: array
                              items:
                                 oneOf:
                                    - $ref: "#/components/schemas/V1ManagedFile"
      post:
         summary: Create self-hosted files
         description: |
            Create self-hosted files in your ManageXR Files library. 

            Once created, you can use Edit App Version or [Edit Configuration](https://docs.managexr.com/api-reference/endpoint/v1/edit-configuration) to deploy the file with an app version or on a configuration, respectively.

            To create files hosted on ManageXR's servers, use the [ManageXR CLI](https://docs.managexr.com/cli-reference/introduction)
         parameters:
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: array
                     description: Array of self-hosted files to create.
                     items:
                        oneOf:
                           - $ref: "#/components/schemas/V1ManagedFileDto"
                  example:
                     - url: "https://my-bucket-name.s3.amazonaws.com/main_assets_all.bundle"
                       name: "main_assets_all.bundle"
                       size: 1204975930
                       md5: "7ah69cMtXyaz5OfsCRtOjQ=="
                       description: "Content bundle for training app"
                       libraryDirectoryPath: "/com.managexr.demoTrainingApp/"
                     - url: "https://my-bucket-name.s3.amazonaws.com/module2-assets.bundle"
                       name: "module2-assets.bundle"
                       size: 1204975930
                       md5: "7ah69cMtXyaz5OfsCRtOjQ=="
                       description: "Assets for module 2 of training app"
                       libraryDirectoryPath: "/com.managexr.demoTrainingApp/"
   ##################################################
   # Apps
   ##################################################
   /v1/apps/:
      get:
         summary: List apps in organization
         description: List all applications present in organization. This lists top-level application info. To access app versions and specific version info, use [List App Versions](https://docs.managexr.com/api-reference/endpoint/v1/list-app-versions)
         parameters:
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         responses:
            "200":
               description: A list of app profiles
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: array
                              items:
                                 type: object
                                 properties:
                                    packageName:
                                       type: string
                                       description: Package name of the app
                                       example: "com.example.app"
                                    title:
                                       type: string
                                       description: Title of the app
                                       example: "My Awesome App"
                                    description:
                                       type: string
                                       description: Description of the app
                                       example: "A fantastic app for managing XR content"
                                    categories:
                                       type: array
                                       items:
                                          type: string
                                       description: Categories the app belongs to
                                       example: ["Education", "Productivity"]
                                    iconUrl:
                                       type: string
                                       format: uri
                                       description: URL of the app's icon
                                       example: "https://storage.example.com/apps/com.example.app/icon.png"
                                    numVersions:
                                       type: number
                                       description: Number of versions of the app
                                       example: 5
                     example:
                        data:
                           - packageName: "com.example.app"
                             title: "My Awesome App"
                             description: "A fantastic app for managing XR content"
                             categories: ["Education", "Productivity"]
                             iconUrl: "https://storage.example.com/apps/com.example.app/icon.png"
                             numVersions: 5
                           - packageName: "com.another.app"
                             title: "Another App"
                             description: "Another great app for XR"
                             categories: ["Training", "Simulation"]
                             iconUrl: "https://storage.example.com/apps/com.another.app/icon.png"
                             numVersions: 3
      post:
         summary: Create managed app (self-hosted)
         description: Create a managed app (Self-Hosted Only). Add an applictation to your ManageXR library that you are hosting on your own servers. To create and upload an application to our servers, use the [ManageXR CLI](https://docs.managexr.com/cli-reference/command/upload-app).
         parameters:
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        packageName:
                           type: string
                           description: Package name of the app
                           example: "com.example.app"
                        title:
                           type: string
                           description: Title of the app
                           example: "My Awesome App"
                        versionCode:
                           type: number
                           description: Version code of the app
                           example: 42
                        apkUrl:
                           type: string
                           description: URL of the APK file
                           example: "https://storage.example.com/apps/com.example.app.apk"
                        apkMd5:
                           type: string
                           description: MD5 hash of the APK file
                           example: "d41d8cd98f00b204e9800998ecf8427e"
                        obbUrl:
                           type: string
                           description: URL of the OBB file
                           example: "https://storage.example.com/apps/com.example.app.obb"
                        obbMd5:
                           type: string
                           description: MD5 hash of the OBB file
                           example: "d41d8cd98f00b204e9800998ecf8427e"
                        versionName:
                           type: string
                           description: Version name of the app
                           example: "1.0.0"
                        versionLabel:
                           type: string
                           description: Label for uniqueness among app versions
                           example: "Quest"
                        apkSize:
                           type: number
                           description: Size of the APK file in bytes
                           example: 72633861
                        obbSize:
                           type: number
                           description: Size of the OBB file in bytes
                           example: 1024
                        iconUrl:
                           type: string
                           format: uri
                           description: URL of the app's icon
                           example: "https://storage.example.com/apps/com.example.app/icon.png"
                     required:
                        - packageName
                        - title
                        - versionCode
                        - apkUrl
                        - versionName
                  example:
                     packageName: "com.example.app"
                     title: "My Awesome App"
                     versionCode: 42
                     apkUrl: "https://storage.example.com/apps/com.example.app.apk"
                     apkMd5: "d41d8cd98f00b204e9800998ecf8427e"
                     obbUrl: "https://storage.example.com/apps/com.example.app.obb"
                     obbMd5: "d41d8cd98f00b204e9800998ecf8427e"
                     versionName: "1.0.0"
                     versionLabel: "Quest"
                     apkSize: 72633861
                     obbSize: 1024
                     iconUrl: "https://storage.example.com/apps/com.example.app/icon.png"
         responses:
            "200":
               description: The created managed app version
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the app version
                                    example: "av_123"
                                 type:
                                    type: string
                                    enum: [managed]
                                    description: Type of the app version
                                    example: "managed"
                                 createdAt:
                                    type: number
                                    description: Creation timestamp
                                    example: 1645615777448
                                 updatedAt:
                                    type: number
                                    description: Last update timestamp
                                    example: 1687352117203
                                 versionCode:
                                    type: number
                                    description: Version code of the app
                                    example: 83894522
                                 versionName:
                                    type: string
                                    description: Version name of the app
                                    example: "8.7.8.1206"
                                 versionLabel:
                                    type: string
                                    description: Label for uniqueness among app versions
                                    example: "Quest"
                                 apkSize:
                                    type: number
                                    description: Size of the APK file in bytes
                                    example: 72633861
                                 obbSize:
                                    type: number
                                    description: Size of the OBB file in bytes
                                    example: 1024
                                 selfHosted:
                                    type: boolean
                                    description: Whether the app is self-hosted
                                    example: true
                                 apkUrl:
                                    type: string
                                    description: URL of the APK file
                                    example: "https://storage.example.com/apps/com.example.app.apk"
                                 obbUrl:
                                    type: string
                                    description: URL of the OBB file
                                    example: "https://storage.example.com/apps/com.example.app.obb"
                     example:
                        data:
                           id: "av_123"
                           type: "managed"
                           configurationDeployments:
                              { "config_123": 1, "config_456": 0 }
                           createdAt: 1645615777448
                           updatedAt: 1687352117203
                           versionCode: 83894522
                           versionName: "8.7.8.1206"
                           versionLabel: "Quest"
                           apkSize: 72633861
                           obbSize: 1024
                           selfHosted: true
                           apkUrl: "https://storage.example.com/apps/com.example.app.apk"
                           obbUrl: "https://storage.example.com/apps/com.example.app.obb"
            "400":
               description: Invalid request
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Invalid request"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Invalid request"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
   /v1/apps/{packageName}:
      get:
         summary: Get app information by package name
         description: Returns information about a specific app including the title, iconUrl, categories, and number of versions.
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         responses:
            "200":
               description: The app profile
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 packageName:
                                    type: string
                                    description: Package name of the app
                                    example: "com.example.app"
                                 title:
                                    type: string
                                    description: Title of the app
                                    example: "My Awesome App"
                                 description:
                                    type: string
                                    description: Description of the app
                                    example: "A fantastic app for managing XR content"
                                 categories:
                                    type: array
                                    items:
                                       type: string
                                    description: Categories the app belongs to
                                    example: ["Education", "Productivity"]
                                 iconUrl:
                                    type: string
                                    format: uri
                                    description: URL of the app's icon
                                    example: "https://storage.example.com/apps/com.example.app/icon.png"
                                 numVersions:
                                    type: number
                                    description: Number of versions of the app
                                    example: 5
                     example:
                        data:
                           packageName: "com.example.app"
                           title: "My Awesome App"
                           description: "A fantastic app for managing XR content"
                           categories: ["Education", "Productivity"]
                           iconUrl: "https://storage.example.com/apps/com.example.app/icon.png"
                           numVersions: 5
            "404":
               description: App not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "App with package name com.example.app not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "App with package name com.example.app not found"
                        error: "ManageXR Error"
      patch:
         summary: Edit app
         description: Update an app's metadata such as title, description, categories, and icon URL
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
            - name: type
              in: query
              required: false
              schema:
                 type: string
                 enum: [managed, shared, instant]
                 description: Type of the app version to update
              description: Type of the app version to update
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        title:
                           type: string
                           description: Title of the app
                           example: "My Awesome App"
                        description:
                           type: string
                           description: Description of the app
                           example: "A fantastic app for managing XR content"
                        categories:
                           type: array
                           items:
                              type: string
                           description: Home screen categories the app belongs to
                           example: ["Education", "Productivity"]
                        iconUrl:
                           type: string
                           format: uri
                           description: URL of the app's icon
                           example: "https://storage.example.com/apps/com.example.app/icon.png"
                  example:
                     title: "My Awesome App"
                     description: "A fantastic app for managing XR content"
                     categories: ["Education", "Productivity"]
                     iconUrl: "https://storage.example.com/apps/com.example.app/icon.png"
         responses:
            "200":
               description: The updated app profile
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 packageName:
                                    type: string
                                    description: Package name of the app
                                    example: "com.example.app"
                                 title:
                                    type: string
                                    description: Title of the app
                                    example: "My Awesome App"
                                 description:
                                    type: string
                                    description: Description of the app
                                    example: "A fantastic app for managing XR content"
                                 categories:
                                    type: array
                                    items:
                                       type: string
                                    description: Categories the app belongs to
                                    example: ["Education", "Productivity"]
                                 iconUrl:
                                    type: string
                                    format: uri
                                    description: URL of the app's icon
                                    example: "https://storage.example.com/apps/com.example.app/icon.png"
                                 numVersions:
                                    type: number
                                    description: Number of versions of the app
                                    example: 5
                     example:
                        data:
                           packageName: "com.example.app"
                           title: "My Awesome App"
                           description: "A fantastic app for managing XR content"
                           categories: ["Education", "Productivity"]
                           iconUrl: "https://storage.example.com/apps/com.example.app/icon.png"
                           numVersions: 5
            "400":
               description: Invalid request
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Invalid app type: external"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Invalid app type: external"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
            "404":
               description: App not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "App with package name com.example.app not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "App with package name com.example.app not found"
                        error: "ManageXR Error"
      delete:
         summary: Delete app
         description: Removes application and all versions from ManageXR.

         parameters:
            - name: packageName
              in: path
              required: true
              schema: { type: string }
              description: The package name of the app
            - name: type
              in: query
              required: false
              schema:
                 type: string
                 enum: [managed, shared, instant, external]
                 default: managed
              description: |
                 App **type** to delete.  
                 • If not set, defaults to **managed**.  

                  **Behavior by type**

                  | type      | Deletion scope |
                  |-----------|---------------|
                  | managed   | Deletes the managed app and **all managed versions**. |
                  | shared    | Deletes the shared app for *your* organization only (the owner org keeps its copy). |
                  | instant   | Deletes the instant app for *your* organization only (the owner org keeps its copy). |
                  | external  | Deletes the external app. |
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.

         responses:
            "200":
               description: App deleted successfully
            "400":
               description: Invalid app type
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode: { type: number, example: 400 }
                           message:
                              { type: string, example: "Invalid app type: foo" }
                           error: { type: string, example: "ManageXR Error" }
                     example:
                        statusCode: 400
                        message: "Invalid app type: foo"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode: { type: number, example: 403 }
                           message: { type: string, example: "Forbidden" }
                           error: { type: string, example: "ManageXR Error" }
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
            "404":
               description: App not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode: { type: number, example: 404 }
                           message:
                              {
                                 type: string,
                                 example: "App with package name com.example.app not found",
                              }
                           error: { type: string, example: "ManageXR Error" }
                     example:
                        statusCode: 404
                        message: "App with package name com.example.app not found"
                        error: "ManageXR Error"
   /v1/apps/{packageName}/versions:
      get:
         summary: List app versions
         description: Returns a list of all app versions for a given package name
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         responses:
            "200":
               description: A list of app versions
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: array
                              items:
                                 type: object
                                 properties:
                                    id:
                                       type: string
                                       description: Unique identifier of the app version
                                       example: "av_123"
                                    type:
                                       type: string
                                       enum:
                                          [managed, shared, external, instant]
                                       description: Type of the app version
                                       example: "managed"
                                    configurationDeployments:
                                       type: object
                                       description: Map of configuration ids to device count using application
                                       example:
                                          { "config_123": 1, "config_456": 0 }
                                    createdAt:
                                       type: number
                                       description: Creation timestamp
                                       example: 1645615777448
                                    updatedAt:
                                       type: number
                                       description: Last update timestamp
                                       example: 1687352117203
                                    versionCode:
                                       type: number
                                       description: Version code of the app
                                       example: 83894522
                                    versionName:
                                       type: string
                                       description: Version name of the app
                                       example: "8.7.8.1206"
                                    versionLabel:
                                       type: string
                                       description: Label for uniqueness among app versions
                                       example: "Quest"
                                    apkSize:
                                       type: number
                                       description: Size of the APK file in bytes
                                       example: 72633861
                                    obbSize:
                                       type: number
                                       description: Size of the OBB file in bytes
                                       example: 1024
                                    selfHosted:
                                       type: boolean
                                       description: Whether the app is self-hosted
                                       example: true
                                    apkUrl:
                                       type: string
                                       description: URL of the APK file (self-hosted apps only)
                                       example: "https://storage.example.com/apps/com.example.app.apk"
                                    obbUrl:
                                       type: string
                                       description: URL of the OBB file (self-hosted apps only)
                                       example: "https://storage.example.com/apps/com.example.app.obb"
                                    sharingOrganizationName:
                                       type: string
                                       description: Name of the organization sharing the app (shared apps only)
                                       example: "XR Developer"
                                    releaseChannelName:
                                       type: string
                                       description: Name of the release channel (shared apps only)
                                       example: "Production"
                                    supportedDeviceModels:
                                       type: array
                                       items:
                                          type: string
                                          example: "Quest 3"
                                       description: List of supported device models for Instant App (instant apps only)
                                       example:
                                          [
                                             "Quest 3",
                                             "Quest 3S",
                                             "Pico 4 Ultra Enterprise",
                                          ]
                     example:
                        data:
                           - id: "av_123"
                             type: "managed"
                             configurationDeployments:
                                { "config_123": 1, "config_456": 0 }
                             createdAt: 1645615777448
                             updatedAt: 1687352117203
                             versionCode: 83894522
                             versionName: "8.7.8.1206"
                             versionLabel: "Quest"
                             apkSize: 72633861
                             obbSize: 1024
                             selfHosted: true
                             apkUrl: "https://storage.example.com/apps/com.example.app.apk"
                             obbUrl: "https://storage.example.com/apps/com.example.app.obb"
                           - id: "av_456"
                             type: "shared"
                             configurationDeployments:
                                { "config_123": 0, "config_456": 1 }
                             createdAt: 1645615777448
                             updatedAt: 1687352117203
                             versionCode: 83894522
                             versionName: "8.7.8.1206"
                             versionLabel: "Quest"
                             apkSize: 72633861
                             obbSize: 1024
                             selfHosted: false
                             releaseChannelName: "Production"
                             sharingOrganizationName: "XR Developer"
            "404":
               description: App not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "App with package name com.example.app not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "App with package name com.example.app not found"
                        error: "ManageXR Error"
      post:
         summary: Create app version (self-hosted)
         description: Create a managed app version (Self-Hosted Only). Adds a new version of a self-hosted application. To create and upload a new app version to our servers, use the [ManageXR CLI](https://docs.managexr.com/cli-reference/command/upload-app)
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        versionCode:
                           type: number
                           description: Version code of the app
                           example: 42
                        apkUrl:
                           type: string
                           description: URL of the APK file
                           example: "https://storage.example.com/apps/com.example.app.apk"
                        apkMd5:
                           type: string
                           description: MD5 hash of the APK file
                           example: "d41d8cd98f00b204e9800998ecf8427e"
                        obbUrl:
                           type: string
                           description: URL of the OBB file
                           example: "https://storage.example.com/apps/com.example.app.obb"
                        obbMd5:
                           type: string
                           description: MD5 hash of the OBB file
                           example: "d41d8cd98f00b204e9800998ecf8427e"
                        versionName:
                           type: string
                           description: Version name of the app
                           example: "1.0.0"
                        versionLabel:
                           type: string
                           description: Label for uniqueness among app versions
                           example: "Quest"
                        apkSize:
                           type: number
                           description: Size of the APK file in bytes
                           example: 72633861
                        obbSize:
                           type: number
                           description: Size of the OBB file in bytes
                           example: 1024
                     required:
                        - versionCode
                        - apkUrl
                        - versionName
                  example:
                     versionCode: 42
                     apkUrl: "https://storage.example.com/apps/com.example.app.apk"
                     apkMd5: "d41d8cd98f00b204e9800998ecf8427e"
                     obbUrl: "https://storage.example.com/apps/com.example.app.obb"
                     obbMd5: "d41d8cd98f00b204e9800998ecf8427e"
                     versionName: "1.0.0"
                     versionLabel: "Quest"
                     apkSize: 72633861
                     obbSize: 1024
         responses:
            "200":
               description: The created app version
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the app version
                                    example: "av_123"
                                 type:
                                    type: string
                                    enum: [managed, shared, external, instant]
                                    description: Type of the app version
                                    example: "managed"
                                 createdAt:
                                    type: number
                                    description: Creation timestamp
                                    example: 1645615777448
                                 updatedAt:
                                    type: number
                                    description: Last update timestamp
                                    example: 1687352117203
                                 versionCode:
                                    type: number
                                    description: Version code of the app
                                    example: 83894522
                                 versionName:
                                    type: string
                                    description: Version name of the app
                                    example: "8.7.8.1206"
                                 versionLabel:
                                    type: string
                                    description: Label for uniqueness among app versions
                                    example: "Quest"
                                 apkSize:
                                    type: number
                                    description: Size of the APK file in bytes
                                    example: 72633861
                                 obbSize:
                                    type: number
                                    description: Size of the OBB file in bytes
                                    example: 1024
                                 selfHosted:
                                    type: boolean
                                    description: Whether the app is self-hosted
                                    example: true
                                 apkUrl:
                                    type: string
                                    description: URL of the APK file (only present if self-hosted)
                                    example: "https://storage.example.com/apps/com.example.app.apk"
                                 obbUrl:
                                    type: string
                                    description: URL of the OBB file (only present if self-hosted)
                                    example: "https://storage.example.com/apps/com.example.app.obb"
                     example:
                        data:
                           id: "av_123"
                           type: "managed"
                           configurationDeployments:
                              { "config_123": 1, "config_456": 0 }
                           createdAt: 1645615777448
                           updatedAt: 1687352117203
                           versionCode: 83894522
                           versionName: "8.7.8.1206"
                           versionLabel: "Quest"
                           apkSize: 72633861
                           obbSize: 1024
                           selfHosted: true
                           apkUrl: "https://storage.example.com/apps/com.example.app.apk"
                           obbUrl: "https://storage.example.com/apps/com.example.app.obb"
            "400":
               description: Invalid request
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Invalid request"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Invalid request"
                        error: "ManageXR Error"
            "403":
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
   /v1/apps/{packageName}/versions/{versionId}:
      patch:
         summary: Edit app version
         description: Edit a managed app version. Apply a new version label or edit the app version's bundled files.
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
            - name: versionId
              in: path
              required: true
              schema:
                 type: string
              description: Unique identifier of the app version
            - name: organizationId
              in: query
              required: false
              schema:
                 type: string
              description: |
                 Unique identifier of the organization. This parameter is only necessary when using multi-organization API keys. 
                 
                 Defaults to the organizationId associated with the API key.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        versionLabel:
                           type: string
                           description: Label for uniqueness among app versions
                           example: "Quest"
                        files:
                           type: array
                           items:
                              oneOf:
                                 - $ref: "#/components/schemas/V1BundledFileEditDto"
                  example:
                     versionLabel: "Quest"
         responses:
            "200":
               description: Success
            "400":
               description: Invalid request
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
[...]
