openapi: 3.1.0
info:
   title: ManageXR API
   description: API documentation for ManageXR
   version: 1.0.0
servers:
   - url: https://managexrapi.com
     description: ManageXR API Server
paths: 
# v1 Endpoints:
# Devices

# Apps 
   /v1/apps/:
      get: 
         summary: List apps in organization
         description: List all applications present in organization. This just lists top-level application info by package name, not app versions. 
      post:
         summary: Create app (self-hosted)
         description: (Self-Hosted Only) Add an applictation to your ManageXR library that you are hosting on your own servers. To create and upload an application to our servers, use the [ManageXR CLI](https://docs.managexr.com/cli-reference/command/upload-app).
   /v1/apps/{packageName}:
      get:
         summary: Get app information by package name
         description: Returns information about a specific app including the title, iconUrl, categories, and number of versions.
      patch:
         summary: Edit app details 
         description: Edit app information like title, description, categories, and icon 
      delete:
         summary: Delete app
         description: Removes application and all versions from ManageXR.
   /v1/apps/{packageName}/versions:
      get:
         summary: List app versions
         description: Returns a list of all app versions for a given package name
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
         responses:
            '200':
               description: A list of app versions
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: array
                              items:
                                 type: object
                                 properties:
                                    id:
                                       type: string
                                       description: Unique identifier of the app version
                                       example: "av_123"
                                    type:
                                       type: string
                                       enum: [managed, shared, external, instant]
                                       description: Type of the app version
                                       example: "managed"
                                    configurationDeployments:
                                       type: object
                                       description: Map of configuration ids to device count using application
                                       example: { "config_123": 1, "config_456": 0 }
                                    createdAt:
                                       type: number
                                       description: Creation timestamp
                                       example: 1645615777448
                                    updatedAt:
                                       type: number
                                       description: Last update timestamp
                                       example: 1687352117203
                                    versionCode:
                                       type: number
                                       description: Version code of the app
                                       example: 83894522
                                    versionName:
                                       type: string
                                       description: Version name of the app
                                       example: "8.7.8.1206"
                                    versionLabel:
                                       type: string
                                       description: Label for uniqueness among app versions
                                       example: "Quest"
                                    apkSize:
                                       type: number
                                       description: Size of the APK file in bytes
                                       example: 72633861
                                    obbSize:
                                       type: number
                                       description: Size of the OBB file in bytes
                                       example: 1024
                                    selfHosted:
                                       type: boolean
                                       description: Whether the app is self-hosted
                                       example: true
                                    apkUrl:
                                       type: string
                                       description: URL of the APK file (self-hosted apps only)
                                       example: "https://storage.example.com/apps/com.example.app.apk"
                                    obbUrl:
                                       type: string
                                       description: URL of the OBB file (self-hosted apps only)
                                       example: "https://storage.example.com/apps/com.example.app.obb"
                                    sharingOrganizationName:
                                       type: string
                                       description: Name of the organization sharing the app (shared apps only)
                                       example: "XR Developer"
                                    releaseChannelName: 
                                       type: string
                                       description: Name of the release channel (shared apps only)
                                       example: "Production"
                                    supportedDeviceModels:
                                       type: array
                                       items:
                                          type: string
                                          example: "Quest 3"
                                       description: List of supported device models for Instant App (instant apps only)
                                       example: ["Quest 3", "Quest 3S", "Pico 4 Ultra Enterprise"]
                     example:
                        data:
                           - id: "av_123"
                             type: "managed"
                             configurationDeployments: { "config_123": 1, "config_456": 0 }
                             createdAt: 1645615777448
                             updatedAt: 1687352117203
                             versionCode: 83894522
                             versionName: "8.7.8.1206"
                             versionLabel: "Quest"
                             apkSize: 72633861
                             obbSize: 1024
                             selfHosted: true
                             apkUrl: "https://storage.example.com/apps/com.example.app.apk"
                             obbUrl: "https://storage.example.com/apps/com.example.app.obb"
                           - id: "av_456"
                             type: "shared"
                             configurationDeployments: { "config_123": 0, "config_456": 1 }
                             createdAt: 1645615777448
                             updatedAt: 1687352117203
                             versionCode: 83894522
                             versionName: "8.7.8.1206"
                             versionLabel: "Quest"
                             apkSize: 72633861
                             obbSize: 1024
                             selfHosted: false

                             releaseChannelName: "Production"
                             sharingOrganizationName: "XR Developer"
            '404':
               description: App not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "App with package name com.example.app not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "App with package name com.example.app not found"
                        error: "ManageXR Error"
      post:
         summary: Create app version (self-hosted)
         description: (Self-Hosted Only) Adds a new version of a self-hosted application. To create and upload a new app version to our servers, use the [ManageXR CLI](https://docs.managexr.com/cli-reference/command/upload-app)
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        versionCode:
                           type: number
                           description: Version code of the app
                           example: 42
                        apkUrl:
                           type: string
                           description: URL of the APK file
                           example: "https://storage.example.com/apps/com.example.app.apk"
                        apkMd5:
                           type: string
                           description: MD5 hash of the APK file
                           example: "d41d8cd98f00b204e9800998ecf8427e"
                        obbUrl:
                           type: string
                           description: URL of the OBB file
                           example: "https://storage.example.com/apps/com.example.app.obb"
                        obbMd5:
                           type: string
                           description: MD5 hash of the OBB file
                           example: "d41d8cd98f00b204e9800998ecf8427e"
                        versionName:
                           type: string
                           description: Version name of the app
                           example: "1.0.0"
                        versionLabel:
                           type: string
                           description: Label for uniqueness among app versions
                           example: "Quest"
                        apkSize:
                           type: number
                           description: Size of the APK file in bytes
                           example: 72633861
                        obbSize:
                           type: number
                           description: Size of the OBB file in bytes
                           example: 1024
                     required:
                        - versionCode
                        - apkUrl
                        - apkMd5
                        - versionName
                        - apkSize
                  example:
                     versionCode: 42
                     apkUrl: "https://storage.example.com/apps/com.example.app.apk"
                     apkMd5: "d41d8cd98f00b204e9800998ecf8427e"
                     obbUrl: "https://storage.example.com/apps/com.example.app.obb"
                     obbMd5: "d41d8cd98f00b204e9800998ecf8427e"
                     versionName: "1.0.0"
                     versionLabel: "Quest"
                     apkSize: 72633861
                     obbSize: 1024
         responses:
            '200':
               description: The created app version
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the app version
                                    example: "av_123"
                                 type:
                                    type: string
                                    enum: [managed, shared, external, instant]
                                    description: Type of the app version
                                    example: "managed"
                                 createdAt:
                                    type: number
                                    description: Creation timestamp
                                    example: 1645615777448
                                 updatedAt:
                                    type: number
                                    description: Last update timestamp
                                    example: 1687352117203
                                 versionCode:
                                    type: number
                                    description: Version code of the app
                                    example: 83894522
                                 versionName:
                                    type: string
                                    description: Version name of the app
                                    example: "8.7.8.1206"
                                 versionLabel:
                                    type: string
                                    description: Label for uniqueness among app versions
                                    example: "Quest"
                                 apkSize:
                                    type: number
                                    description: Size of the APK file in bytes
                                    example: 72633861
                                 obbSize:
                                    type: number
                                    description: Size of the OBB file in bytes
                                    example: 1024
                                 selfHosted:
                                    type: boolean
                                    description: Whether the app is self-hosted
                                    example: true
                                 apkUrl:
                                    type: string
                                    description: URL of the APK file (only present if self-hosted)
                                    example: "https://storage.example.com/apps/com.example.app.apk"
                                 obbUrl:
                                    type: string
                                    description: URL of the OBB file (only present if self-hosted)
                                    example: "https://storage.example.com/apps/com.example.app.obb"
                     example:
                        data:
                           id: "av_123"
                           type: "managed"
                           configurationDeployments: { "config_123": 1, "config_456": 0 }
                           createdAt: 1645615777448
                           updatedAt: 1687352117203
                           versionCode: 83894522
                           versionName: "8.7.8.1206"
                           versionLabel: "Quest"
                           apkSize: 72633861
                           obbSize: 1024
                           selfHosted: true
                           apkUrl: "https://storage.example.com/apps/com.example.app.apk"
                           obbUrl: "https://storage.example.com/apps/com.example.app.obb"
            '400':
               description: Invalid request
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Invalid request"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Invalid request"
                        error: "ManageXR Error"
            '403':
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
   /v1/apps/{packageName}/release-channels:
      get:
         summary: List app release channels
         description: Returns a list of all release channels for a given application
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
         responses:
            '200':
               description: A list of release channels
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: array
                              items:
                                 type: object
                                 properties:
                                    id:
                                       type: string
                                       description: Unique identifier of the release channel
                                       example: "rc_123"
                                    name:
                                       type: string
                                       description: Name of the release channel
                                       example: "Stable"
                                    type:
                                       type: string
                                       enum: [app, link, video]
                                       description: Type of the release channel
                                       example: "app"
                                    packageName:
                                       type: string
                                       description: Package name of the app
                                       example: "com.example.app"
                                    targetVersion:
                                       type: object
                                       description: The target app version for this release channel
                                       properties:
                                          id:
                                             type: string
                                             description: Unique identifier of the app version
                                             example: "av_123"
                                          type:
                                             type: string
                                             enum: [managed, shared, external, instant]
                                             description: Type of the app version
                                             example: "managed"
                                          configurationDeployments:
                                             type: object
                                             description: Map of configuration ids to device count using application
                                             example: { "config_123": 1, "config_456": 0 }
                                          createdAt:
                                             type: number
                                             description: Creation timestamp
                                             example: 1645615777448
                                          updatedAt:
                                             type: number
                                             description: Last update timestamp
                                             example: 1687352117203
                                          versionCode:
                                             type: number
                                             description: Version code of the app
                                             example: 83894522
                                          versionName:
                                             type: string
                                             description: Version name of the app
                                             example: "8.7.8.1206"
                                          apkSize:
                                             type: number
                                             description: Size of the APK file in bytes
                                             example: 72633861
                                          selfHosted:
                                             type: boolean
                                             description: Whether the app is self-hosted
                                             example: false
                                    sharedOrganizations:
                                       type: array
                                       description: List of organizations this release channel is shared with
                                       items:
                                          type: object
                                          properties:
                                             id:
                                                type: string
                                                description: Unique identifier of the organization
                                                example: "org_789"
                                             name:
                                                type: string
                                                description: Name of the organization
                                                example: "Example Org"
                     example:
                        data:
                           - id: "rc_123"
                             name: "Stable"
                             type: "app"
                             packageName: "com.example.app"
                             targetVersion:
                                id: "av_123"
                                type: "managed"
                                configurationDeployments: { "config_123": 1, "config_456": 0 }
                                createdAt: 1645615777448
                                updatedAt: 1687352117203
                                versionCode: 83894522
                                versionName: "8.7.8.1206"
                                apkSize: 72633861
                                selfHosted: false
                             sharedOrganizations:
                                - id: "org_789"
                                  name: "Example Org"
                           - id: "rc_456"
                             name: "Beta"
                             type: "app"
                             packageName: "com.example.app"
                             targetVersion:
                                id: "av_456"
                                type: "shared"
                                configurationDeployments: { "config_123": 0, "config_456": 1 }
                                createdAt: 1645615777448
                                updatedAt: 1687352117203
                                versionCode: 83894522
                                versionName: "8.7.8.1206"
                                apkSize: 72633861
                                selfHosted: false
                             sharedOrganizations: []
      post:
         summary: Create an app release channel
         description: Add a new release channel for an app and assign it an app version
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        name:
                           type: string
                           description: Name of the release channel
                           example: "Stable"
                        targetVersion:
                           oneOf:
                              - type: object
                                properties:
                                 versionCode:
                                    type: number
                                    description: Version code of the app
                                    example: 42
                                 versionName:
                                    type: string
                                    description: Version name of the app
                                    example: "1.0.0"
                                 versionLabel:
                                    type: string
                                    description: Label for uniqueness among app versions
                                    example: "Quest"
                              - type: string
                                enum: [latest, last-created]
                                description: Special version identifier. "latest" = latest semver version. "last-created" = most recently created on ManageXR.
                                example: "latest"
                              - type: string
                                description: App version ID
                                example: "av_123"
                     required:
                        - name
                        - targetVersion
                  examples:
                     example-latest:
                        summary: Create release channel with latest version
                        value:
                           name: "Stable"
                           targetVersion: "latest"
                     example-last-created:
                        summary: Create release channel with most recently created version
                        value:
                           name: "Beta"
                           targetVersion: "last-created"
                     example-specific-version:
                        summary: Create release channel with specific version
                        value:
                           name: "Production"
                           targetVersion:
                              versionCode: 42
                              versionName: "1.0.0"
                     example-specific-version-with-label:
                        summary: Create release channel with specific version and label
                        value:
                           name: "Quest Release"
                           targetVersion:
                              versionCode: 42
                              versionName: "1.0.0"
                              versionLabel: "Quest"
                     example-app-id:
                        summary: Create release channel with app version ID
                        value:
                           name: "Stable"
                           targetVersion: "av_123"
         responses:
            '200':
               description: The created release channel
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the release channel
                                    example: "rc_123"
                                 name:
                                    type: string
                                    description: Name of the release channel
                                    example: "Stable"
                                 type:
                                    type: string
                                    enum: [app, link, video]
                                    description: Type of the release channel
                                    example: "app"
                                 packageName:
                                    type: string
                                    description: Package name of the app
                                    example: "com.example.app"
                                 targetVersion:
                                    type: object
                                    description: The target app version for this release channel
                                    properties:
                                       id:
                                          type: string
                                          description: Unique identifier of the app version
                                          example: "av_123"
                                       type:
                                          type: string
                                          enum: [managed, shared, external, instant]
                                          description: Type of the app version
                                          example: "managed"
                                       configurationDeployments:
                                          type: object
                                          description: Map of configuration ids to device count using application
                                          example: { "config_123": 1, "config_456": 0 }
                                       createdAt:
                                          type: number
                                          description: Creation timestamp
                                          example: 1645615777448
                                       updatedAt:
                                          type: number
                                          description: Last update timestamp
                                          example: 1687352117203
                                       versionCode:
                                          type: number
                                          description: Version code of the app
                                          example: 83894522
                                       versionName:
                                          type: string
                                          description: Version name of the app
                                          example: "8.7.8.1206"
                                       apkSize:
                                          type: number
                                          description: Size of the APK file in bytes
                                          example: 72633861
                                       selfHosted:
                                          type: boolean
                                          description: Whether the app is self-hosted
                                          example: false
                                 sharedOrganizations:
                                    type: array
                                    description: List of organizations this release channel is shared with
                                    items:
                                       type: object
                                       properties:
                                          id:
                                             type: string
                                             description: Unique identifier of the organization
                                             example: "org_789"
                                          name:
                                             type: string
                                             description: Name of the organization
                                             example: "Example Org"
                     example:
                        data:
                           id: "rc_123"
                           name: "Stable"
                           type: "app"
                           packageName: "com.example.app"
                           targetVersion:
                              id: "av_123"
                              type: "managed"
                              configurationDeployments: { "config_123": 1, "config_456": 0 }
                              createdAt: 1645615777448
                              updatedAt: 1687352117203
                              versionCode: 83894522
                              versionName: "8.7.8.1206"
                              apkSize: 72633861
                              selfHosted: false
                           sharedOrganizations:
                              - id: "org_789"
                                name: "Example Org"
            '400':
               description: Release channel package name mismatch
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "App matching version identifier not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "App matching version identifier not found"
                        error: "ManageXR Error"
   /v1/apps/{packageName}/release-channels/{releaseChannelId}:
      patch:
         summary: Edit a release channel
         description: Update the target app version or name of an existing app release channel
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
            - name: releaseChannelId
              in: path
              required: true
              schema:
                 type: string
              description: The unique identifier of the release channel
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        name:
                           type: string
                           description: New name for the release channel
                           example: "Production"
                        targetVersion:
                           oneOf:
                              - type: object
                                properties:
                                 versionCode:
                                    type: number
                                    description: Version code of the app
                                    example: 42
                                 versionName:
                                    type: string
                                    description: Version name of the app
                                    example: "1.0.0"
                                 versionLabel:
                                    type: string
                                    description: Label for uniqueness among app versions
                                    example: "Quest"
                              - type: string
                                enum: [latest, last-created]
                                description: Special version identifier. "latest" = latest semver version. "last-created" = most recently created on ManageXR.
                                example: "latest"
                              - type: string
                                description: App version ID
                                example: "av_123"
                  examples:
                     example-name-only:
                        summary: Update only the release channel name
                        value:
                           name: "Stable"
                     example-latest:
                        summary: Update to the latest version
                        value:
                           targetVersion: "latest"
                     example-last-created:
                        summary: Update to the most recently created version
                        value:
                           targetVersion: "last-created"
                     example-specific-version:
                        summary: Update to a specific version with version code and name
                        value:
                           targetVersion:
                              versionCode: 42
                              versionName: "1.0.0"
                     example-specific-version-with-label:
                        summary: Update to a specific version with version code, name, and label
                        value:
                           targetVersion:
                              versionCode: 42
                              versionName: "1.0.0"
                              versionLabel: "Release"
                     example-app-id:
                        summary: Update to a specific version using app version ID
                        value:
                           targetVersion: "av_123"
                     example-name-and-version:
                        summary: Update both name and version
                        value:
                           name: "Stable"
                           targetVersion: "latest"
         responses:
            '200':
               description: The updated release channel
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the release channel
                                    example: "rc_123"
                                 name:
                                    type: string
                                    description: Name of the release channel
                                    example: "Stable"
                                 type:
                                    type: string
                                    enum: [app, link, video]
                                    description: Type of the release channel
                                    example: "app"
                                 packageName:
                                    type: string
                                    description: Package name of the app
                                    example: "com.example.app"
                                 targetVersion:
                                    type: object
                                    description: The target app version for this release channel
                                    properties:
                                       id:
                                          type: string
                                          description: Unique identifier of the app version
                                          example: "av_123"
                                       type:
                                          type: string
                                          enum: [managed, shared, external, instant]
                                          description: Type of the app version
                                          example: "managed"
                                       configurationDeployments:
                                          type: object
                                          description: Map of configuration ID to device count using application
                                          example: { "config_123": 1, "config_456": 0 }
                                       createdAt:
                                          type: number
                                          description: Creation timestamp
                                          example: 1645615777448
                                       updatedAt:
                                          type: number
                                          description: Last update timestamp
                                          example: 1687352117203
                                       versionCode:
                                          type: number
                                          description: Version code of the app
                                          example: 83894522
                                       versionName:
                                          type: string
                                          description: Version name of the app
                                          example: "8.7.8.1206"
                                 apkSize:
                                    type: number
                                    description: Size of the APK file in bytes
                                    example: 72633861
                                 selfHosted:
                                    type: boolean
                                    description: Whether the app is self-hosted
                                    example: false
                                 sharedOrganizations:
                                    type: array
                                    description: List of organizations this release channel is shared with
                                    items:
                                       type: object
                                       properties:
                                          id:
                                             type: string
                                             description: Unique identifier of the organization
                                             example: "org_789"
                                          name:
                                             type: string
                                             description: Name of the organization
                                             example: "Example Org"
                     example:
                        data:
                           id: "rc_123"
                           name: "Stable"
                           type: "app"
                           packageName: "com.example.app"
                           targetVersion:
                              id: "av_123"
                              type: "managed"
                              configurationDeployments: { "config_123": 1, "config_456": 0 }
                              createdAt: 1645615777448
                              updatedAt: 1687352117203
                              versionCode: 83894522
                              versionName: "8.7.8.1206"
                              selfHosted: false
                           sharedOrganizations:
                              - id: "org_789"
                                name: "Example Org"
            '400':
               description: Release channel package name mismatch
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Release channel with id rc_123 does not match the provided package name com.example.app"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Release channel with id rc_123 does not match the provided package name com.example.app"
                        error: "ManageXR Error"
            '403':
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
            '404':
               description: Release channel not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "Release channel with id rc_123 not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "Release channel with id rc_123 not found"
                        error: "ManageXR Error"
   /v1/apps/{packageName}/release-channels/{releaseChannelId}/share:
      post:
         summary: Share a release channel
         description: Share an app release channel with a client organization. The API key used must be a multi-org key with access to the client organizations to use this endpoint.
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
            - name: releaseChannelId
              in: path
              required: true
              schema:
                 type: string
              description: The unique identifier of the release channel
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        organizationIds:
                           type: array
                           items:
                              type: string
                           description: Array of organization IDs to share the release channel with
                           example: ["org_123", "org_456"]
                     required:
                        - organizationIds
                  example:
                     organizationIds: ["org_123", "org_456"]
         responses:
            '200':
               description: The updated release channel
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                                 type: object
                                 properties:
                                    id:
                                       type: string
                                       description: Unique identifier of the release channel
                                       example: "rc_123"
                                    name:
                                       type: string
                                       description: Name of the release channel
                                       example: "Stable"
                                    type:
                                       type: string
                                       enum: [app, link, video]
                                       description: Type of the release channel
                                       example: "app"
                                    packageName:
                                       type: string
                                       description: Package name of the app
                                       example: "com.example.app"
                                    targetVersion:
                                       type: object
                                       description: The target app version for this release channel
                                       properties:
                                          id:
                                             type: string
                                             description: Unique identifier of the app version
                                             example: "av_123"
                                          type:
                                             type: string
                                             enum: [managed, shared, external, instant]
                                             description: Type of the app version
                                             example: "managed"
                                          configurationDeployments:
                                             type: object
                                             description: Map of configuration ID to device count using application
                                             example: { "config_123": 1, "config_456": 0 }
                                          createdAt:
                                             type: number
                                             description: Creation timestamp
                                             example: 1645615777448
                                          updatedAt:
                                             type: number
                                             description: Last update timestamp
                                             example: 1687352117203
                                          versionCode:
                                             type: number
                                             description: Version code of the app
                                             example: 83894522
                                          versionName:
                                             type: string
                                             description: Version name of the app
                                             example: "8.7.8.1206"
                                          apkSize:
                                             type: number
                                             description: Size of the APK file in bytes
                                             example: 72633861
                                          selfHosted:
                                             type: boolean
                                             description: Whether the app is self-hosted
                                             example: false
                                    sharedOrganizations:
                                       type: array
                                       description: List of organizations this release channel is shared with
                                       items:
                                          type: object
                                          properties:
                                             id:
                                                type: string
                                                description: Unique identifier of the organization
                                                example: "org_789"
                                             name:
                                                type: string
                                                description: Name of the organization
                                                example: "Example Org"
                     example:
                        data:
                           id: "rc_123"
                           name: "Stable"
                           type: "app"
                           packageName: "com.example.app"
                           targetVersion:
                              id: "av_123"
                              type: "managed"
                              configurationDeployments: { "config_123": 1, "config_456": 0 }
                              createdAt: 1645615777448
                              updatedAt: 1687352117203
                              versionCode: 83894522
                              versionName: "8.7.8.1206"
                              apkSize: 72633861
                              selfHosted: false
                           sharedOrganizations:
                              - id: "org_789"
                                name: "Example Org"
            '400':
               description: Release channel package name mismatch
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Release channel with id rc_123 does not match the provided package name com.example.app"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Release channel with id rc_123 does not match the provided package name com.example.app"
                        error: "ManageXR Error"
            '403':
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
            '404':
               description: Release channel not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "Release channel with id rc_123 not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "Release channel with id rc_123 not found"
                        error: "ManageXR Error"
   /v1/apps/{packageName}/release-channels/{releaseChannelId}/unshare:
      post:
         summary: Unshare a release channel
         description: Unshare an app release channel with a client organization
         parameters:
            - name: packageName
              in: path
              required: true
              schema:
                 type: string
              description: The package name of the app
            - name: releaseChannelId
              in: path
              required: true
              schema:
                 type: string
              description: The unique identifier of the release channel
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        organizationIds:
                           type: array
                           items:
                              type: string
                           description: Array of organization IDs to unshare the release channel with
                           example: ["org_123", "org_456"]
                     required:
                        - organizationIds
                  example:
                     organizationIds: ["org_123", "org_456"]
         responses:
            '200':
               description: The updated release channel
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the release channel
                                    example: "rc_123"
                                 name:
                                    type: string
                                    description: Name of the release channel
                                    example: "Stable"
                                 type:
                                    type: string
                                    enum: [app, link, video]
                                    description: Type of the release channel
                                    example: "app"
                                 packageName:
                                    type: string
                                    description: Package name of the app
                                    example: "com.example.app"
                                 targetVersion:
                                    type: object
                                    description: The target app version for this release channel
                                    properties:
                                       id:
                                          type: string
                                          description: Unique identifier of the app version
                                          example: "av_123"
                                       type:
                                          type: string
                                          enum: [managed, shared, external, instant]
                                          description: Type of the app version
                                          example: "managed"
                                       configurationDeployments:
                                          type: object
                                          description: Map of configuration ID to device count using application
                                          example: { "config_123": 1, "config_456": 0 }
                                       createdAt:
                                          type: number
                                          description: Creation timestamp
                                          example: 1645615777448
                                       updatedAt:
                                          type: number
                                          description: Last update timestamp
                                          example: 1687352117203
                                       versionCode:
                                          type: number
                                          description: Version code of the app
                                          example: 83894522
                                       versionName:
                                          type: string
                                          description: Version name of the app
                                          example: "8.7.8.1206"
                                       apkSize:
                                          type: number
                                          description: Size of the APK file in bytes
                                          example: 72633861
                                       selfHosted:
                                          type: boolean
                                          description: Whether the app is self-hosted
                                          example: false
                                 sharedOrganizations:
                                    type: array
                                    description: List of organizations this release channel is shared with
                                    items:
                                       type: object
                                       properties:
                                          id:
                                             type: string
                                             description: Unique identifier of the organization
                                             example: "org_789"
                                          name:
                                             type: string
                                             description: Name of the organization
                                             example: "Example Org"
                     example:
                        data:
                           id: "rc_123"
                           name: "Stable"
                           type: "app"
                           packageName: "com.example.app"
                           targetVersion:
                              id: "av_123"
                              type: "managed"
                              configurationDeployments: { "config_123": 1, "config_456": 0 }
                              createdAt: 1645615777448
                              updatedAt: 1687352117203
                              versionCode: 83894522
                              versionName: "8.7.8.1206"
                              apkSize: 72633861
                              selfHosted: false
                           sharedOrganizations:
                              - id: "org_789"
                                name: "Example Org"
            '400':
               description: Release channel package name mismatch
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Release channel with id rc_123 does not match the provided package name com.example.app"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Release channel with id rc_123 does not match the provided package name com.example.app"
                        error: "ManageXR Error"
            '403':
               description: Forbidden
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 403
                           message:
                              type: string
                              example: "Forbidden"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 403
                        message: "Forbidden"
                        error: "ManageXR Error"
            '404':
               description: Release channel not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 404
                           message:
                              type: string
                              example: "Release channel with id rc_123 not found"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 404
                        message: "Release channel with id rc_123 not found"
                        error: "ManageXR Error"
# Configurations
   /v1/configurations/:
      post:
         summary: Create a configuration
         description: Create a new configuration
   /v1/configurations/{id}:
      get: 
         summary: Get a configuration
         description: Retrieve a configuration by id
      patch:
         summary: Edit a configuration
         description: Update an existing configuration to deploy new content
      delete:
         summary: Delete a configuration
         description: Removes a configuration from ManageXR. You cannot delete configurations that are currently applied to devices.
# Tags
   /v1/tags/:
      post:
         summary: Create tag
         description: Create a new tag
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        name:
                           type: string
                           description: Name of the tag
                           example: "History"
                     required:
                        - name
                  example:
                     name: "History"
         responses:
            '200':
               description: The created tag
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the tag
                                    example: "sFidGmedeQofSBcvRcyn"
                                 name:
                                    type: string
                                    description: Name of the tag
                                    example: "History"
                     example:
                        data:
                           id: "sFidGmedeQofSBcvRcyn"
                           name: "History"
            '400':
               description: Tag name already exists
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Tag with name History already exists"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Tag with name History already exists"
                        error: "ManageXR Error"
   /v1/tags/{tagId}:
      patch:
         summary: Edit tag
         description: Update an existing tag's name
         parameters:
            - name: tagId
              in: path
              required: true
              schema:
                 type: string
              description: Unique identifier of the tag
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        name:
                           type: string
                           description: New name for the tag
                           example: "World History"
                     required:
                        - name
                  example:
                     name: "World History"
         responses:
            '200':
               description: The updated tag
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           data:
                              type: object
                              properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the tag
                                    example: "sFidGmedeQofSBcvRcyn"
                                 name:
                                    type: string
                                    description: Name of the tag
                                    example: "World History"
                     example:
                        data:
                           id: "sFidGmedeQofSBcvRcyn"
                           name: "World History"
            '400':
               description: Tag name already exists
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           statusCode:
                              type: number
                              example: 400
                           message:
                              type: string
                              example: "Tag with name World History already exists"
                           error:
                              type: string
                              example: "ManageXR Error"
                     example:
                        statusCode: 400
                        message: "Tag with name World History already exists"
                        error: "ManageXR Error"
            '404':
               description: Tag not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           message:
                              type: string
                              example: "Tag with id sFidGmedeQofSBcvRcyn not found"
      delete: 
         summary: Delete tag
         description: Delete a tag
         parameters:
            - name: tagId
              in: path
              required: true
              schema:
                 type: string
              description: Unique identifier of the tag
         responses:
            '200':
               description: Tag successfully deleted
            '404':
               description: Tag not found
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                           message:
                              type: string
                              example: "Tag with id sFidGmedeQofSBcvRcyn not found"
# v0 Endpoints: 
   /organizations/{orgId}/devices:
      get:
         summary: Get devices
         description: Retrieve a list of devices
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
            - name: names
              in: query
              required: false
              schema:
                 type: string
              description: Query by device name. Allows partial matching. Separate multiple name parameters by comma.
            - name: serials
              in: query
              required: false
              schema:
                 type: string
              description: Query by device serial. Allows partial matching. Separate multiple serial parameters by comma.
            - name: configurations
              in: query
              required: false
              schema:
                 type: string
              description: Query by configuration unique identifier. Separate multiple configuration id parameters by comma.
            - name: tags
              in: query
              required: false
              schema:
                 type: string
              description: Query by tag unique identifier. Separate multiple tag id parameters by comma.
            - name: models
              in: query
              required: false
              schema:
                 type: string
              description: Query by model name. Separate multiple model parameters by comma.
            - name: manufacturers
              in: query
              required: false
              schema:
                 type: string
              description: Query by manufacturer name. Separate multiple manufacturer parameters by comma.
            - name: firmwareVersions
              in: query
              required: false
              schema:
                 type: string
              description: Query by firmware version. Separate multiple firmware version parameters by comma.
            - name: filters
              in: query
              required: false
              schema:
                 type: string
                 enum:
                     - online
                     - offline
                     - upToDate
                     - outOfDate
                     - updateError
                     - updating
                     - paused
                     - lowBattery
                     - activeToday
                     - activeWeek
                     - activeMonth
                     - activeOther
                     - factoryResetPending
                     - factoryReset
              description: Query by filter.
         responses:
            '200':
               description: A list of devices
               content:
                  application/json:
                     schema:
                        type: array
                        items:
                           type: object
                           properties:
                              serial:
                                 type: string
                                 example: 2G0YC1ZF630NZA
                                 description: The serial number of the device. Also serves as the ID on ManageXR.
                              name:
                                 type: string
                                 example: Device_0024
                                 description: The name given to the device on ManageXR
                              mac:
                                 type: string
                                 example: CE:AF:07:47:E0:AE
                                 description: Device MAC address
                              model:
                                 type: string
                                 example: Quest 3
                                 description: Device model
                              manufacturer:
                                 type: string
                                 example: Oculus
                                 description: Device manufacturer. Note, Meta devices report as Oculus
                              notes:
                                 type: string
                                 example: With Taylor L
                                 description: The notes given to a device on ManageXR
                              batteryLevel:
                                 type: number
                                 example: 34
                                 description: The battery level of the device
                              online:
                                 type: boolean
                                 example: true
                                 description: True if the device is online
                              osVersion:
                                 type: string
                                 example: 12
                                 description: The Android operating system version
                              outOfDate:
                                 type: boolean
                                 example: false
                                 description: True if device is not compliant with its configuration on ManageXR
                              pauseUpdates:
                                 type: boolean
                                 example: false
                                 description: True if configuration updates are paused for device. Pausing configuration updates stops a device from syncing with its latest Configuration. User-initiated changes to Configurations and ManageXR-initiated updates to the ManageXR Admin App and Home Screen will not propagate to devices with updates paused.
                              registerDate:
                                 type: string
                                 format: date-time
                                 example: Tue, 27 Feb 2024 07:28:03 GMT
                                 description: Date the device was registered on ManageXR
                              updating:
                                 type: boolean
                                 example: false
                                 description: True if the device is currently downloading content or firmware
                              factoryResetStatus:
                                 type: string
                                 enum:
                                    - QUEUED
                                    - COMPLETE
                                    - null
                                 example: null
                                 description: This status is set when an admin sends a factory reset command to a device. Null if no factory reset command has been sent.
                              firmwareVersion:
                                 type: string
                                 example: 65.0.0.546.341
                                 description: Device firmware version
                              configuration:
                                 type: object
                                 properties:
                                    name:
                                       type: string
                                       description: 'Configuration name'
                                    id:
                                       type: string
                                       description: 'Configuration id'
                                 example:
                                    name: Test Configuration
                                    id: OZ04csIYkA0EArkeu1vX
                                 description: The configuration applied to the device on ManageXR
                              tags:
                                 type: array
                                 items:
                                    type: object
                                    properties:
                                       id:
                                          type: string
                                          description: The unique identifier for the tag
                                       name:
                                          type: string
                                          description: The name of the tag
                                 description: The tags applied to the device on ManageXR. Null if device has no tags.
                              tutorialModeEnabled:
                                 type: boolean
                                 example: false
                                 description: True if device is in Tutorial Mode
                              kioskModeOverride:
                                 type: boolean
                                 example: false
                                 description: True if device has Kiosk Mode/ManageXR Home Screen disabled. When true, the device is not locked into the ManageXR Home Screen or Kiosk App and users have full access to the native system menus. [Learn more](https://help.managexr.com/en/articles/5416931-temporarily-disable-kiosk-mode-home-screen) 
                              lastSync:
                                 type: string
                                 format: date-time
                                 example: Tue, 18 Jun 2024 21:46:34 GMT
                                 description: The last time the device checked in with ManageXR. Online devices check in every 15 minutes.
                              ram:
                                 type: object
                                 properties:
                                    available:
                                       type: number
                                       description: Available RAM in bytes
                                    total:
                                       type: number
                                       description: Total RAM in bytes
                                 example:
                                    available: 3704000512
                                    total: 8108634112
                                 description: Device RAM in bytes
                              location:
                                 type: object
                                 properties:
                                    city: 
                                       type: string
                                    region: 
                                       type: string
                                    country: 
                                       type: string
                                    continent: 
                                       type: string
                                    timeZone: 
                                       type: string
                                    latitude: 
                                       type: number
                                    longitude: 
                                       type: number
                                 example:
                                    city: San Francisco
                                    region: California
                                    country: United States
                                    continent: North America
                                    timeZone: America/Los_Angeles
                                    latitude: 37
                                    longitude: -122
                                 description: Device location as determined by its IP address and provided by ipstack.com
                              connectedWifiNetwork:
                                 type: object
                                 properties:
                                    ssid:
                                       type: string
                                       description: The ssid of the last connected wifi network
                                 example:
                                    ssid: TheElectricCity
                                 description: Information about the last connected wifi network
                              storage:
                                 type: object
                                 properties:
                                    available:
                                       type: number
                                 example:
                                    available: 107079929856
                                 description: The available storage on the device in bytes
                     examples:
                        example-1:
                           summary: Example response
                           value:
                              - serial: 2G0YC1ZF630NZA
                                name: Oculus Quest 2
                                mac: 0816D76C3AE5
                                model: Quest 2
                                manufacturer: Oculus
                                notes: with Phil P
                                batteryLevel: 81
                                online: false
                                osVersion: 10
                                outOfDate: true
                                registerDate: Thu, 08 Jun 2023 21:16:39 GMT
                                updating: false
                                factoryResetStatus: null
                                firmwareVersion: 65.0.0.546.341
                                configuration:
                                   name: Quality Assurance
                                   id: SpGcLo99xqMkj9dyNvBd
                                tags: []
                                tutorialModeEnabled: false
                                kioskModeOverride: false
                                lastSync: Mon, 24 Jun 2024 19:33:21 GMT
                                ram:
                                   available: 4276592640
                                   total: 8151437312
                                location:
                                   city: Galt
                                   region: California
                                   country: United States
                                   continent: North America
                                   timeZone: America/Los_Angeles
                                   latitude: 37
                                   longitude: -122
                                connectedWifiNetwork:
                                   ssid: Comcast
                                storage:
                                   available: 235923423232
                              - serial: PA7950RGGC06043
                                name: Carolina
                                mac: 0816D56C3AE4
                                model: Quest 2
                                manufacturer: Oculus
                                notes: null
                                batteryLevel: 81
                                online: false
                                osVersion: 10
                                outOfDate: true
                                registerDate: Thu, 08 Jun 2023 21:16:39 GMT
                                updating: false
                                factoryResetStatus: QUEUED
                                firmwareVersion: 4.0.7
                                configuration:
                                   name: Customer Success
                                   id: SpGcLo99xqMkj9dyNvBd
                                tags: null
                                tutorialModeEnabled: false
                                kioskModeOverride: false
                                lastSync: Mon, 24 Jun 2024 19:33:21 GMT
                                ram:
                                   available: 4276592640
                                   total: 8151437312
                                location:
                                   city: Ílhavo
                                   region: Aveiro
                                   country: Portugal
                                   continent: Europe
                                   timeZone: Europe/Lisbon
                                   latitude: 38
                                   longitude: 9
                                connectedWifiNetwork:
                                   ssid: Carol
                                storage:
                                   available: 51294728192
   /organizations/{orgId}/devices/set-pause-updates:
      post:
         summary: Set pause updates for devices
         description: |
            Pause or resume configuration updates for devices.

            Pausing configuration updates stops a device from syncing with its latest Configuration. User-initiated changes to Configurations and ManageXR-initiated updates to the ManageXR Admin App and Home Screen will not propagate to devices with updates paused.
         parameters:
           - name: orgId
             in: path
             required: true
             schema:
               type: string
             description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
         requestBody:
           required: true
           content:
             application/json:
               schema:
                 type: object
                 properties:
                   deviceIds:
                     type: array
                     items:
                       type: string
                     description: Array of device IDs (serial numbers) to update.
                   pauseUpdates:
                     type: boolean
                     description: Whether to pause (true) or resume (false) configuration updates. 
                 required:
                   - deviceIds
                   - pauseUpdates
               examples:
                 example-pause:
                   summary: Pause updates for devices
                   value:
                     deviceIds:
                       - 2G0YC1ZF630NZA
                       - PA7950RGGC06043
                     pauseUpdates: true
                 example-resume:
                   summary: Resume updates for devices
                   value:
                     deviceIds:
                       - 2G0YC1ZF630NZA
                       - PA7950RGGC06043
                     pauseUpdates: false
         responses:
           '201':
             description: Success
   /organizations/{orgId}/devices/{deviceId}/command:
      post:
         summary: Send command
         description: |
            Send command to a specific device

            <small>Available Commands: Launch App, Play/Pause Video, Launch Web Url, Disable/Enable Kiosk, Restart, Power Off, Set Volume, Set Brightness, Uninstall App, Sync, Enable/Disable Tutorial Mode</small>
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
            - name: deviceId
              in: path
              required: true
              schema:
                 type: string
              description: The ID (serial number) of the device.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     oneOf: 
                      - title: Launch App
                        type: object
                        properties:
                           action:
                              type: string
                              required: true
                              description:  Launch an application on the device.
                              enum:
                                 - LAUNCH_APP
                              example: LAUNCH_APP
                           data:
                              type: object
                              properties:
                                 packageName:
                                    type: string
                                    required: true
                                    description: The package name of the app to be launched
                                    example: 'com.myapp.quest'
                                 launchParams: 
                                    type: object
                                    description: | 
                                       (Optional) Additional custom launch parameters

                                       e.g., { userId: 'ABC123', booleanValue: true, arrayValue: [1.23, 4.56], mapValue: { key: 'more stuff' }}
                                    example: 
                                       userId: 'ABC123'
                                       booleanValue: true
                                       floatValue: 100.29
                                       arrayValue: [1.23, 4.56]
                                       mapValue: { key: 'more stuff' }
                                    required: false
                      - title: Play / Pause Video
                        type: object
                        properties:
                           action:
                              type: string
                              description:  Play or pause video on the device.
                              enum:
                                 - PLAY_VIDEO
                                 - PAUSE_VIDEO
                              example: PLAY_VIDEO
                           data:
                              type: object
                              properties:
                                 videoId:
                                    type: string
                                    description: |
                                       The id of the video to play or pause. 
                                       
                                       To find a videoId, go to the video in your VR Content library on the Web Console and retrieve it from the url parameters (e.g. console.managexr.com/o/{orgId}/vr-content/edit/video/**FeWVcu7Rq4X3rmwGZGM6**).                   
                                 playFromBeginning: 
                                    type: boolean
                                    description: (Optional) Plays video from the beginning. If falsy and the video is already open, play resumes from position.
                      - title: Launch Web Url
                        type: object
                        properties:
                           action:
                              type: string
                              description:  Launch a specific webxr link on the device. Requires the data field to be populated (see below)
                              enum:
                                 - LAUNCH_WEB_URL
                              example: LAUNCH_WEB_URL
                           data:
                              type: object
                              properties:
                                 url:
                                    type: string
                                    description: The url of the webxr link to launch                      
                      - title: Disable / Enable Kiosk Mode
                        type: object
                        properties: 
                           action: 
                              type: string
                              description: | 
                                 Override the device experience set on the Configuration. 

                                 `DISABLE_KIOSK` - Disable Kiosk Mode / ManageXR Home Screen on the device. Grants users full access to the default system menus. Sets `kioskModeOverride` flag on device to `true`.

                                 `ENABLE_KIOSK` - Re-Enable Kiosk Mode / ManageXR Home Screen on the device. Sets `kioskModeOverride` flag on device to `false`.

                                 _Note_, if the Configuration applied to a device uses Default Device Menus, the kioskModeOverride flag is a no-op.
                              enum: 
                              - DISABLE_KIOSK
                              - ENABLE_KIOSK
                              example: DISABLE_KIOSK
                      - title: Restart
                        type: object
                        properties:
                           action:
                              type: string
                              description: Reboot the device.
                              enum:
                              - RESTART
                              example: RESTART
                      - title: Power OFF
                        type: object
                        properties:
                           action:
                              type: string
                              description:  Remotely turn off device. Supported on Pico Neo 3s PUI 5+ and Pico 4 Ultra Enterprise devices. 
                              enum:
                                 - POWER_OFF
                              example: POWER_OFF
                      - title: Set Volume
                        type: object
                        properties:
                           action:
                              type: string
                              description: Set volume on device. Supply a level between 0 and 100. 
                              enum:
                                 - SET_VOLUME
                              example: SET_VOLUME
                           data:
                              type: object
                              properties:
                                 level:
                                    type: number
                                    description: The volume level to set. Choose a value between 0 and 100.
                      - title: Set Brightness
[...]
