openapi: 3.1.0
info:
   title: ManageXR API
   description: API documentation for ManageXR
   version: 1.0.0
servers:
   - url: https://managexrapi.com
     description: ManageXR API Server
paths:
   /organizations/{orgId}/devices:
      get:
         summary: Get devices
         description: Retrieve all devices managed by an organization
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
         responses:
            '200':
               description: A list of devices
               content:
                  application/json:
                     schema:
                        type: array
                        items:
                           type: object
                           properties:
                              serial:
                                 type: string
                                 example: 2G0YC1ZF630NZA
                                 description: The serial number of the device. Also serves as the ID on ManageXR.
                              name:
                                 type: string
                                 example: Device_0024
                                 description: The name given to the device on ManageXR
                              mac:
                                 type: string
                                 example: CE:AF:07:47:E0:AE
                                 description: Device MAC address
                              model:
                                 type: string
                                 example: Quest 3
                                 description: Device model
                              manufacturer:
                                 type: string
                                 example: Oculus
                                 description: Device manufacturer. Note, Meta devices report as Oculus
                              notes:
                                 type: string
                                 example: With Taylor L
                                 description: The notes given to a device on ManageXR
                              batteryLevel:
                                 type: number
                                 example: 34
                                 description: The battery level of the device
                              online:
                                 type: boolean
                                 example: true
                                 description: True if the device is online
                              osVersion:
                                 type: string
                                 example: 12
                                 description: The Android operating system version
                              outOfDate:
                                 type: boolean
                                 example: false
                                 description: True if device is not compliant with its configuration on ManageXR
                              registerDate:
                                 type: string
                                 format: date-time
                                 example: Tue, 27 Feb 2024 07:28:03 GMT
                                 description: Date the device was registered on ManageXR
                              updating:
                                 type: boolean
                                 example: false
                                 description: True if the device is currently downloading content or firmware
                              factoryResetStatus:
                                 type: string
                                 enum:
                                    - QUEUED
                                    - COMPLETE
                                    - null
                                 example: null
                                 description: This status is set when an admin sends a factory reset command to a device. Null if no factory reset command has been sent.
                              firmwareVersion:
                                 type: string
                                 example: 65.0.0.546.341
                                 description: Device firmware version
                              configuration:
                                 type: object
                                 properties:
                                    name:
                                       type: string
                                       description: 'Configuration name'
                                    id:
                                       type: string
                                       description: 'Configuration id'
                                 example:
                                    name: Test Configuration
                                    id: OZ04csIYkA0EArkeu1vX
                                 description: The configuration applied to the device on ManageXR
                              tags:
                                 type: array
                                 example: [{ id: sFidGmedeQofSBcvRcyn, name: History }]
                                 description: The tags applied to the device on ManageXR. Null if device has no tags.
                              tutorialModeEnabled:
                                 type: boolean
                                 example: false
                                 description: True if device is in Tutorial Mode
                              kioskModeOverride:
                                 type: boolean
                                 example: false
                                 description: True if device has Kiosk Mode/ManageXR Home Screen disabled. When true, the device is not locked into the ManageXR Home Screen or Kiosk App and users have full access to the native system menus. [Learn more](https://help.managexr.com/en/articles/5416931-temporarily-disable-kiosk-mode-home-screen) 
                              lastSync:
                                 type: string
                                 format: date-time
                                 example: Tue, 18 Jun 2024 21:46:34 GMT
                                 description: The last time the device checked in with ManageXR. Online devices check in every 15 minutes.
                              ram:
                                 type: object
                                 properties:
                                    available:
                                       type: number
                                       description: Available RAM in bytes
                                    total:
                                       type: number
                                       description: Total RAM in bytes
                                 example:
                                    available: 3704000512
                                    total: 8108634112
                                 description: Device RAM in bytes
                              location:
                                 type: object
                                 example:
                                    city: San Francisco
                                    region: California
                                    country: United States
                                    continent: North America
                                    timeZone: America/Los_Angeles
                                 description: Device location as determined by its IP address and provided by ipstack.com
                              connectedWifiNetwork:
                                 type: object
                                 properties:
                                    ssid:
                                       type: string
                                       description: The ssid of the last connected wifi network
                                 example:
                                    ssid: TheElectricCity
                                 description: Information about the last connected wifi network
                              storage:
                                 type: object
                                 properties:
                                    available:
                                       type: number
                                 example:
                                    available: 107079929856
                                 description: The available storage on the device in bytes
                     examples:
                        example-1:
                           summary: Example response
                           value:
                              - serial: 2G0YC1ZF630NZA
                                name: Oculus Quest 2
                                mac: 0816D76C3AE5
                                model: Quest 2
                                manufacturer: Oculus
                                notes: with Phil P
                                batteryLevel: 81
                                online: false
                                osVersion: 10
                                outOfDate: true
                                registerDate: Thu, 08 Jun 2023 21:16:39 GMT
                                updating: false
                                factoryResetStatus: null
                                firmwareVersion: 65.0.0.546.341
                                configuration:
                                   name: Quality Assurance
                                   id: SpGcLo99xqMkj9dyNvBd
                                tags: []
                                tutorialModeEnabled: false
                                kioskModeOverride: false
                                lastSync: Mon, 24 Jun 2024 19:33:21 GMT
                                ram:
                                   available: 4276592640
                                   total: 8151437312
                                location:
                                   city: Galt
                                   region: California
                                   country: United States
                                   continent: North America
                                   timeZone: America/Los_Angeles
                                connectedWifiNetwork:
                                   ssid: Comcast
                                storage:
                                   available: 235923423232
                              - serial: PA7950RGGC06043
                                name: Carolina
                                mac: 0816D56C3AE4
                                model: Quest 2
                                manufacturer: Oculus
                                notes: null
                                batteryLevel: 81
                                online: false
                                osVersion: 10
                                outOfDate: true
                                registerDate: Thu, 08 Jun 2023 21:16:39 GMT
                                updating: false
                                factoryResetStatus: QUEUED
                                firmwareVersion: 4.0.7
                                configuration:
                                   name: Customer Success
                                   id: SpGcLo99xqMkj9dyNvBd
                                tags: null
                                tutorialModeEnabled: false
                                kioskModeOverride: false
                                lastSync: Mon, 24 Jun 2024 19:33:21 GMT
                                ram:
                                   available: 4276592640
                                   total: 8151437312
                                location:
                                   city: Ílhavo
                                   region: Aveiro
                                   country: Portugal
                                   continent: Europe
                                   timeZone: Europe/Lisbon
                                connectedWifiNetwork:
                                   ssid: Carol
                                storage:
                                   available: 51294728192
   /organizations/{orgId}/devices/set-pause-updates:
      post:
         summary: Set pause updates for devices
         description: |
            Pause or resume configuration updates for devices.

            Pausing configuration updates stops a device from syncing with its latest Configuration. User-initiated changes to Configurations and ManageXR-initiated updates to the ManageXR Admin App and Home Screen will not propagate to devices with updates paused.
         parameters:
           - name: orgId
             in: path
             required: true
             schema:
               type: string
             description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
         requestBody:
           required: true
           content:
             application/json:
               schema:
                 type: object
                 properties:
                   deviceIds:
                     type: array
                     items:
                       type: string
                     description: Array of device IDs (serial numbers) to update.
                   pauseUpdates:
                     type: boolean
                     description: Whether to pause (true) or resume (false) configuration updates. 
                 required:
                   - deviceIds
                   - pauseUpdates
               examples:
                 example-pause:
                   summary: Pause updates for devices
                   value:
                     deviceIds:
                       - 2G0YC1ZF630NZA
                       - PA7950RGGC06043
                     pauseUpdates: true
                 example-resume:
                   summary: Resume updates for devices
                   value:
                     deviceIds:
                       - 2G0YC1ZF630NZA
                       - PA7950RGGC06043
                     pauseUpdates: false
         responses:
           '201':
             description: Success
             content:
               application/json:
                 schema:
                   type: object
                   properties:
                     message:
                       type: string
                       example: "Success"
   /organizations/{orgId}/devices/{deviceId}/command:
      post:
         summary: Send command
         description: |
            Send command to a specific device

            <small>Available Commands: Launch App, Play/Pause Video, Launch Web Url, Disable/Enable Kiosk, Restart, Uninstall App, Sync, Enable/Disable Tutorial Mode </small>
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
            - name: deviceId
              in: path
              required: true
              schema:
                 type: string
              description: The ID (serial number) of the device.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     oneOf: 
                      - title: Launch App
                        type: object
                        properties:
                           action:
                              type: string
                              required: true
                              description:  Launch an application on the device.
                              enum:
                                 - LAUNCH_APP
                              example: LAUNCH_APP
                           data:
                              type: object
                              properties:
                                 packageName:
                                    type: string
                                    required: true
                                    description: The package name of the app to be launched
                                    example: 'com.myapp.quest'
                                 launchParams: 
                                    type: object
                                    description: | 
                                       (Optional) Additional custom launch parameters

                                       e.g., { userId: 'ABC123', booleanValue: true, arrayValue: [1.23, 4.56], mapValue: { key: 'more stuff' }}
                                    example: 
                                       userId: 'ABC123'
                                       booleanValue: true
                                       floatValue: 100.29
                                       arrayValue: [1.23, 4.56]
                                       mapValue: { key: 'more stuff' }
                                    required: false
                      - title: Play / Pause Video
                        type: object
                        properties:
                           action:
                              type: string
                              description:  Play or pause video on the device.
                              enum:
                                 - PLAY_VIDEO
                                 - PAUSE_VIDEO
                              example: PLAY_VIDEO
                           data:
                              type: object
                              properties:
                                 videoId:
                                    type: string
                                    description: |
                                       The id of the video to play or pause. 
                                       
                                       To find a videoId, go to the video in your VR Content library on the Web Console and retrieve it from the url parameters (e.g. console.managexr.com/o/{orgId}/vr-content/edit/video/**FeWVcu7Rq4X3rmwGZGM6**).                   
                                 playFromBeginning: 
                                    type: boolean
                                    description: (Optional) Plays video from the beginning. If falsy and the video is already open, play resumes from position.
                      - title: Launch Web Url
                        type: object
                        properties:
                           action:
                              type: string
                              description:  Launch a specific webxr link on the device. Requires the data field to be populated (see below)
                              enum:
                                 - LAUNCH_WEB_URL
                              example: LAUNCH_WEB_URL
                           data:
                              type: object
                              properties:
                                 url:
                                    type: string
                                    description: The url of the webxr link to launch                      
                      - title: Disable / Enable Kiosk Mode
                        type: object
                        properties: 
                           action: 
                              type: string
                              description: | 
                                 Override the device experience set on the Configuration. 

                                 `DISABLE_KIOSK` - Disable Kiosk Mode / ManageXR Home Screen on the device. Grants users full access to the default system menus. Sets `kioskModeOverride` flag on device to `true`.

                                 `ENABLE_KIOSK` - Re-Enable Kiosk Mode / ManageXR Home Screen on the device. Sets `kioskModeOverride` flag on device to `false`.

                                 _Note_, if the Configuration applied to a device uses Default Device Menus, the kioskModeOverride flag is a no-op.
                              enum: 
                              - DISABLE_KIOSK
                              - ENABLE_KIOSK
                              example: DISABLE_KIOSK
                      - title: Restart
                        type: object
                        properties:
                           action:
                              type: string
                              description: Reboot the device.
                              enum:
                              - RESTART
                              example: RESTART
                      - title: Uninstall App
                        type: object
                        properties:
                           action:
                              type: string
                              description: |
                                 Uninstall an application on the device. 
                                 
                                 Cannot uninstall system apps. If you uninstall an app that is still on a devices's configuration, it will automatically re-download the next time the device syncs.
                              enum:
                                 - UNINSTALL_APP
                              example: LAUNCH_APP
                           data:
                              type: object
                              properties:
                                 packageName:
                                    type: string
                                    description: The package name of the app to uninstall                         
                      - title: Sync
                        type: object
                        properties:
                           action:
                              type: string
                              description: Force device to check in with ManageXR. Online devices sync every 15 minutes or immediately when configuration changes are made.
                              enum:
                              - SYNC
                              example: SYNC
                      - title: Enable / Disable Tutorial Mode
                        type: object
                        properties: 
                           action: 
                              type: string
                              description: When Tutorial Mode in enabled, the device launches into its tutorial app on boot. Set the tutorial app in Configuration > Device Settings.
                              enum: 
                              - ENABLE_TUTORIAL_MODE
                              - DISABLE_TUTORIAL_MODE
                              example: ENABLE_TUTORIAL_MODE                             
                  examples:
                     example-sync:
                        summary: Sync command
                        value:
                           action: SYNC
                     example-launch_app:
                        summary: Launch App command
                        value:
                           action: LAUNCH_APP
                           data:
                              packageName: com.example.app
                     example-launch_app_with_params:
                        summary: Launch app with parameters
                        value:
                           action: LAUNCH_APP
                           data:
                              packageName: com.example.app
                              launchParams:
                                 userId: AX3EIUf89
                                 booleanValue: true
                                 floatValue: 100.29
                                 arrayValue: [1.23, 4.56]
                                 mapValue:
                                    key: value
                     example-launch_webxr:
                        summary: Launch webxr link
                        value:
                           action: LAUNCH_WEB_URL
                           data:
                              url: https://google.com
         responses:
            '200':
               description: Success
   /organizations/{orgId}/devices/batch-command:
      post:
         summary: Send a command to multiple devices at once
         description: |
            Send a command to multiple devices at once

            <small>Available Commands: Launch App, Play/Pause Video, Launch Web Url, Disable/Enable Kiosk, Restart, Uninstall App, Sync, Enable/Disable Tutorial Mode </small>
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     oneOf: 
                      - title: Launch App
                        type: object
                        properties:
                           deviceIds:
                              type: array
                              items:
                                 type: string
                              description: List of unique identifiers (serial numbers) of devices
                           action:
                              type: string
                              required: true
                              description:  Launch an application on the devices
                              enum:
                                 - LAUNCH_APP
                              example: LAUNCH_APP
                           data:
                              type: object
                              properties:
                                 packageName:
                                    type: string
                                    required: true
                                    description: The package name of the app to be launched
                                    example: 'com.myapp.quest'
                                 launchParams: 
                                    type: object
                                    description: | 
                                       (Optional) Additional custom launch parameters

                                       e.g., { userId: 'ABC123', booleanValue: true, arrayValue: [1.23, 4.56], mapValue: { key: 'more stuff' }}
                                    example: 
                                       userId: 'ABC123'
                                       booleanValue: true
                                       floatValue: 100.29
                                       arrayValue: [1.23, 4.56]
                                       mapValue: { key: 'more stuff' }
                                    required: false
                      - title: Play / Pause Video
                        type: object
                        properties:
                           deviceIds:
                              type: array
                              items:
                                 type: string
                              description: List of unique identifiers (serial numbers) of devices
                           action:
                              type: string
                              description:  Play or pause video on the devices
                              enum:
                                 - PLAY_VIDEO
                                 - PAUSE_VIDEO
                              example: PLAY_VIDEO
                           data:
                              type: object
                              properties:
                                 videoId:
                                    type: string
                                    description: |
                                       The id of the video to play or pause. 
                                       
                                       To find a videoId, go to the video in your VR Content library on the Web Console and retrieve it from the url parameters (e.g. console.managexr.com/o/{orgId}/vr-content/edit/video/**FeWVcu7Rq4X3rmwGZGM6**).                   
                                 playFromBeginning: 
                                    type: boolean
                                    description: (Optional) Plays video from the beginning. If falsy and the video is already open, play resumes from position.
                      - title: Launch Web Url
                        type: object
                        properties:
                           deviceIds:
                              type: array
                              items:
                                 type: string
                              description: List of unique identifiers (serial numbers) of devices
                           action:
                              type: string
                              description:  Launch a specific WebXR link on the devices. Requires the data field to be populated (see below)
                              enum:
                                 - LAUNCH_WEB_URL
                              example: LAUNCH_WEB_URL
                           data:
                              type: object
                              properties:
                                 url:
                                    type: string
                                    description: The url of the webxr link to launch                      
                      - title: Disable / Enable Kiosk Mode
                        type: object
                        properties:
                           deviceIds:
                              type: array
                              items:
                                 type: string
                              description: List of unique identifiers (serial numbers) of devices
                           action: 
                              type: string
                              description: | 
                                 Override the device experience set on the Configuration. 

                                 `DISABLE_KIOSK` - Disable Kiosk Mode / ManageXR Home Screen on the devices. Grants users full access to the default system menus. Sets `kioskModeOverride` flag on devices to `true`.

                                 `ENABLE_KIOSK` - Re-Enable Kiosk Mode / ManageXR Home Screen on the devices. Sets `kioskModeOverride` flag on devices to `false`.

                                 _Note_, if the Configuration applied to a device uses Default Device Menus, the kioskModeOverride flag is a no-op.
                              enum: 
                              - DISABLE_KIOSK
                              - ENABLE_KIOSK
                              example: DISABLE_KIOSK
                      - title: Restart
                        type: object
                        properties:
                           deviceIds:
                              type: array
                              items:
                                 type: string
                              description: List of unique identifiers (serial numbers) of devices
                           action:
                              type: string
                              description: Reboot the devices
                              enum:
                              - RESTART
                              example: RESTART
                      - title: Uninstall App
                        type: object
                        properties:
                           deviceIds:
                              type: array
                              items:
                                 type: string
                              description: List of unique identifiers (serial numbers) of devices
                           action:
                              type: string
                              description: |
                                 Uninstall an application on the devices. 
                                 
                                 Cannot uninstall system apps. If you uninstall an app that is still on a devices's configuration, it will automatically re-download the next time the device syncs.
                              enum:
                                 - UNINSTALL_APP
                              example: LAUNCH_APP
                           data:
                              type: object
                              properties:
                                 packageName:
                                    type: string
                                    description: The package name of the app to uninstall                         
                      - title: Sync
                        type: object
                        properties:
                           deviceIds:
                              type: array
                              items:
                                 type: string
                              description: List of unique identifiers (serial numbers) of devices
                           action:
                              type: string
                              description: Force devices to check in with ManageXR. Online devices sync every 15 minutes or immediately when configuration changes are made.
                              enum:
                              - SYNC
                              example: SYNC
                      - title: Enable / Disable Tutorial Mode
                        type: object
                        properties: 
                           deviceIds:
                              type: array
                              items:
                                 type: string
                              description: List of unique identifiers (serial numbers) of devices
                           action: 
                              type: string
                              description: When Tutorial Mode in enabled, the devices launch into their tutorial app on boot. Set the tutorial app in Configuration > Device Settings.
                              enum: 
                              - ENABLE_TUTORIAL_MODE
                              - DISABLE_TUTORIAL_MODE
                              example: ENABLE_TUTORIAL_MODE
                  examples:
                     example-sync:
                        summary: Sync command
                        value:
                           deviceIds: ["fJlJrjEL08UkhSLRRryd", "GrCQfwI4373WFqzVjguI"]
                           action: SYNC
                     example-launch_app:
                        summary: Launch App command
                        value:
                           deviceIds: ["fJlJrjEL08UkhSLRRryd", "GrCQfwI4373WFqzVjguI"]
                           action: LAUNCH_APP
                           data:
                              packageName: com.example.app
                     example-launch_app_with_params:
                        summary: Launch app with parameters
                        value:
                           deviceIds: ["fJlJrjEL08UkhSLRRryd", "GrCQfwI4373WFqzVjguI"]
                           action: LAUNCH_APP
                           data:
                              packageName: com.example.app
                              launchParams:
                                 userId: AX3EIUf89
                                 booleanValue: true
                                 floatValue: 100.29
                                 arrayValue: [1.23, 4.56]
                                 mapValue:
                                    key: value
                     example-launch_webxr:
                        summary: Launch webxr link
                        value:
                           deviceIds: ["fJlJrjEL08UkhSLRRryd", "GrCQfwI4373WFqzVjguI"]
                           action: LAUNCH_WEB_URL
                           data:
                              url: https://google.com
         responses:
            '200':
               description: Success
   /organizations/{orgId}/devices/{deviceId}:
      patch:
         summary: Edit Device
         description: Update device metadata and configuration 
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
            - name: deviceId
              in: path
              required: true
              schema:
                 type: string
              description: The ID (serial number) of the device.
         requestBody:
            required: true
            content:
               application/json:
                  schema:
                     type: object
                     properties:
                        name:
                           type: string
                           required: false
                           description: Name of device
                        configurationId:
                           type: string
                           required: false
                           description: ID of configuration applied to device 
                        notes:
                           type: string
                           required: false
                           description: Device notes
                        tagIds: 
                           type: array
                           required: false
                           description: Array of tag ids to apply to device. Replaces any existing tags
                           items: 
                              type: string
                              example: 'k7FQPc24o4Y7M0FK'
                              description: The id of a tag you want to set on the device
                  examples:
                     example-update:
                        summary: Update device name, configuration, and notes
                        value:
                           name: Taylor Quest 3
                           configurationId: yw5VSRLRoRDhNRhm0Nl
                           notes: At conference
         responses:
            '200':
               description: Success
      get:
         summary: Get device
         description: Get a device by id (serial number).
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
            - name: deviceId
              in: path
              required: true
              schema:
                 type: string
              description: Unique identifier (serial number) of the device
         responses:
            '200':
               description: A device object
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                              serial:
                                 type: string
                                 example: 2G0YC1ZF630NZA
                                 description: The serial number of the device. Also serves as the ID on ManageXR.
                              name:
                                 type: string
                                 example: Device_0024
                                 description: The name given to the device on ManageXR
                              mac:
                                 type: string
                                 example: CE:AF:07:47:E0:AE
                                 description: Device MAC address
                              model:
                                 type: string
                                 example: Quest 3
                                 description: Device model
                              manufacturer:
                                 type: string
                                 example: Oculus
                                 description: Device manufacturer. Note, Meta devices report as Oculus
                              notes:
                                 type: string
                                 example: With Taylor L
                                 description: The notes given to a device on ManageXR
                              batteryLevel:
                                 type: number
                                 example: 34
                                 description: The battery level of the device
                              batteryIsCharging:
                                 type: boolean
                                 example: true
                                 description: True if the device is charging
                              online:
                                 type: boolean
                                 example: true
                                 description: True if the device is online
                              osVersion:
                                 type: string
                                 example: 12
                                 description: The Android operating system version
                              outOfDate:
                                 type: boolean
                                 example: false
                                 description: True if device is not compliant with its configuration on ManageXR
                              registerDate:
                                 type: string
                                 format: date-time
                                 example: Tue, 27 Feb 2024 07:28:03 GMT
                                 description: Date the device was registered on ManageXR
                              updating:
                                 type: boolean
                                 example: false
                                 description: True if the device is currently downloading content or firmware
                              factoryResetStatus:
                                 type: string
                                 enum:
                                    - QUEUED
                                    - COMPLETE
                                    - null
                                 example: null
                                 description: This status is set when an admin sends a factory reset command to a device. Null if no factory reset command has been sent.
                              firmwareVersion:
                                 type: string
                                 example: 65.0.0.546.341
                                 description: Device firmware version
                              configuration:
                                 type: object
                                 properties:
                                    name:
                                       type: string
                                       description: 'Configuration name'
                                    id:
                                       type: string
                                       description: 'Configuration id'
                                 example:
                                    name: Test Configuration
                                    id: OZ04csIYkA0EArkeu1vX
                                 description: The configuration applied to the device on ManageXR
                              tags:
                                 type: array
                                 example: [{ id: sFidGmedeQofSBcvRcyn, name: History }]
                                 description: The tags applied to the device on ManageXR. Null if device has no tags.
                              tutorialModeEnabled:
                                 type: boolean
                                 example: false
                                 description: True if device is in Tutorial Mode
                              kioskModeOverride:
                                 type: boolean
                                 example: false
                                 description: True if device has Kiosk Mode/ManageXR Home Screen disabled. When true, the device is not locked into the ManageXR Home Screen or Kiosk App and users have full access to the native system menus. [Learn more](https://help.managexr.com/en/articles/5416931-temporarily-disable-kiosk-mode-home-screen) 
                              lastSync:
                                 type: string
                                 format: date-time
                                 example: Tue, 18 Jun 2024 21:46:34 GMT
                                 description: The last time the device checked in with ManageXR. Online devices check in every 15 minutes.
                              ram:
                                 type: object
                                 properties:
                                    available:
                                       type: number
                                       description: Available RAM in bytes
                                    total:
                                       type: number
                                       description: Total RAM in bytes
                                 example:
                                    available: 3704000512
                                    total: 8108634112
                                 description: Device RAM in bytes
                              location:
                                 type: object
                                 example:
                                    city: San Francisco
                                    region: California
                                    country: United States
                                    continent: North America
                                    timeZone: America/Los_Angeles
                                    latitude: 37
                                    longitude: -122
                                 description: Device location as determined by its IP address and provided by ipstack.com
                              connectedWifiNetwork:
                                 type: object
                                 properties:
                                    ssid:
                                       type: string
                                       description: The ssid of the last connected wifi network
                                 example:
                                    ssid: TheElectricCity
                                 description: Information about the last connected wifi network
                              storage:
                                 type: object
                                 properties:
                                    available:
                                       type: number
                                 example:
                                    available: 107079929856
                                 description: The available storage on the device in bytes
   /organizations/{orgId}/configurations/{configurationId}:
      get:
         summary: Get configuration
         description: Get a configuration by id
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
            - name: configurationId
              in: path
              required: true
              schema:
                 type: string
              description: Unique identifier of the configuration
         responses:
            '200':
               description: A configuration object
               content:
                  application/json:
                     schema:
                        type: object
                        properties:
                              id:
                                 type: string
                                 example: 6qwM6FzJE4o708iqTpWc
                                 description: Unique identifier of the configuration
                              name:
                                 type: string
                                 example: Trial
                                 description: Name of the configuration
                              registrationCode:
                                 type: string
                                 example: f7GbHvH
                                 description: Registration code for the configuration. [Learn More](https://help.managexr.com/en/articles/5345978-register-a-device-using-a-registration-code)
                              deviceCount:
                                 type: number
                                 example: 15
                                 description: Number of devices using the configuration
                              deviceExperience:
                                 type: string
                                 enum:
                                    - HOME_SCREEN
                                    - KIOSK
                                    - DEFAULT
                                 description: Device experience set on the configuration
                              apps:
                                 type: array
                                 description: (Optional) List of all apps deployed on the configuration
                                 required: false
                                 items: 
                                    type: object
                                    properties:
                                       id:
                                          type: string
                                          example: 01b8e51a-15d3-2sd3-a0d8-4c13ff633413
                                          description: Unique identifier of the app
                                       title:
                                          type: string
                                          example: "Example App"
                                          description: Title of the app
                                       packageName:
                                          type: string
                                          example: "com.example.app"
                                          description: Package name of the app
                                       description:
                                          type: string
                                          example: "Quest version of my example app"
                                          description: Description of the app
                                       versionCode:
                                          type: number
                                          example: 42
                                          description: Numeric code of the app version
                                       versionName:
                                          type: string
                                          example: "1.0.0"
                                          description: Name of the app version
                                       versionLabel:
                                          type: string
                                          example: "Release"
                                          description: Label applied to the app version
                                       apkSize:
                                          type: number
                                          example: 1024
                                          description: Size of the APK file for this app version in bytes
                                       obbSize:
                                          type: number
                                          example: 1024
                                          description: (Optional) Size of the OBB file for this app version in bytes
                                          required: false
                                       categories:
                                          type: array
                                          items:
                                             type: string
                                          example: ["Onboarding", "Safety"]
                                          description: (Optional) List of Home Screen categories assigned to the app on ManageXR
                                          required: false
                                       hidden:
                                          type: boolean
                                          example: true
                                          description: (Optional) True if the app is hidden on the Home Screen. [Learn More](https://help.managexr.com/en/articles/8353693-how-to-hide-vr-content-from-the-home-screen)
                                       forceInstall:
                                          type: boolean
                                          example: false
                                          description: (Optional) True if Force Install is enabled for the app on this configuration. When true, app updates will uninstall the current version of the app on device before installing the next version. [Learn More](https://help.managexr.com/en/articles/5274045-deploying-applications#h_ddb1b059c3)
                                          required: false
                                       autoGrantPermissions:
                                          type: boolean
                                          example: true
                                          description: (Optional) True if Automatically Grant Permissions is enabled for the app on this configuration. When true, the device automatically grants certain device permissions that the app requests. [Learn More](https://help.managexr.com/en/articles/5274045-deploying-applications#h_ddb1b059c3)
                                       expirationTimestamp:
                                          type: number
                                          example: 1710566400
                                          description: (Optional) Expiration date of the shared app. Time in millis since 1970. [Learn More](https://help.managexr.com/en/articles/8562977-app-sharing-governance-set-expiration-dates-and-device-limits#h_7e9d3049df)
                                          required: false
                                       expirationBehavior:
                                          type: string
                                          enum:
                                             - NONE
                                             - DISABLE_APP
                                             - DELETE_APP
                                          example: DISABLE_APP
                                          description: (Optional) Expiration behavior of the shared app when `expirationTimestamp` is reached. [Learn More](https://help.managexr.com/en/articles/8562977-app-sharing-governance-set-expiration-dates-and-device-limits#h_371c2d0566)
                                          required: false
                              videos:
                                 type: array
                                 description: (Optional) List of all videos deployed on the configuration
                                 required: false
                                 items:
                                    type: object
                                    properties:
                                       id:
                                          type: string
                                          example: 2656f354-9723-43f5-9165-f4b2a8662ab0
                                          description: Unique identifier of the video
                                       title:
                                          type: string
                                          example: "Example Video"
                                          description: Title of the video
                                       videoType:
                                          type: string
                                          enum:
                                          - _360
                                          - _180
                                          - _2D
                                          example: _360
                                          description: Type of video
                                       description:
                                          type: string
                                          example: "5 minute video of Patagonia"
                                          description: Description of the video
                                       size:
                                          type: number
                                          example: 1024
                                          description: Size of the video in bytes
                                       categories:
                                          type: array
                                          items:
                                             type: string
                                          example: ["Field Trips", "South America"]
                                          description: (Optional) List of Home Screen categories assigned to the app on ManageXR
                                       hidden:
                                          type: boolean
                                          example: false
                                          description: (Optional) True if the video is hidden on the Home Screen. [Learn More](https://help.managexr.com/en/articles/8353693-how-to-hide-vr-content-from-the-home-screen)                       
                              webxrLinks:
                                 type: array
                                 description: (Optional) List of WebXR Links deployed on the configuration
                                 required: false
                                 items:
                                    type: object
                                    properties:
                                       id:
                                          type: string
                                          example: 1Gvlpc3JVGcynBrWSJwI
                                          description: Unique identifier of the WebXR link
                                       url:
                                          type: string
                                          example: http://www.thechinaguide.com/destination/great-wall-of-china
                                          description: Url of the WebXR link
                                       title:
                                          type: string
                                          example: "Great wall of China"
                                          description: Title of the WebXR link
                                       description:
                                          type: string
                                          example: "A grand tour of the great wall of China, from the comfort of your seat."
                                          description: Description of the WebXR link
                                       categories:
                                          type: array
                                          items:
                                             type: string
                                          example: ["Field Trips", "Asia"]
                                          description: (Optional) List of Home Screen categories assigned to the WebXR link on ManageXR
                                       hidden:
                                          type: boolean
                                          example: true
                                          description: (Optional) True if the WebXR Link is hidden on the Home Screen. [Learn More](https://help.managexr.com/en/articles/8353693-how-to-hide-vr-content-from-the-home-screen)              
                              files:
                                 type: array
                                 description: (Optional) List of files deployed on the configuration
                                 required: false
                                 items: 
                                    type: object
                                    properties:
                                       id:
                                          type: string
                                          example: 0uZN2kuoQhcZJglgVNTc
                                          description: Unique identifier of the file
                                       path:
                                          type: string
                                          example: /foo/bar/myFile.png
                                          description: Path to file on the device file system
                                       size:
                                          type: number
                                          example: 1024
                                          description: Size of the file in bytes                  
                              wifiNetworks:
                                 type: array
                                 description: (Optional) List of wifi networks deployed on the configuration
                                 required: false
                                 items:
                                    type: object
                                    properties:
                                       id:
                                          type: string
                                          example: 1tZw3kuoOfcZMgbIs8
                                          description: Unique identifier of the wifi network
                                       ssid:
                                          type: string
                                          example: SF_Office_123
                                          description: SSID of the wifi network
                                       nickname:
                                          type: string
                                          example: SF Office wifi main
                                          description: Nickname of the wifi network
                                       type:
                                          type: string
                                          enum:
                                          - OPEN
                                          - WPA
                                          - WPA_ENTERPRISE
                                          - UNKNOWN
                                          example: WPA_ENTERPRISE
                                          description: Type of wifi network
                              kioskAppId:
                                 type: string
                                 example:
                                    available: 10707AB329856
                                 description: (Optional) The unique identifier of the Kiosk App, if one is present and the configuration uses `deviceExperience` =  `KIOSK`.
   /organizations/{orgId}/configurations:
      get:
         description: Returns a list of all configurations
         parameters:
            - name: orgId
              in: path
              required: true
              schema:
                 type: string
              description: The ID of the organization. Locate the orgId under Organization Settings > API Keys.
         responses:
            '200':
               description: A list of configuration summary objects.
               content:
                  application/json:
                     schema:
                        type: array
                        items:
                           properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the configuration
                                 name:
                                    type: string
                                    description: Name of the configuration
                                 registrationCode:
                                    type: string
                                    description: Registration code for the configuration. [Learn More](https://help.managexr.com/en/articles/5345978-register-a-device-using-a-registration-code)
                                 deviceCount:
                                    type: number
                                    description: Number of devices using the configuration
                        example:
                           - id: 6qwM6FzJE4o708iqTpWc
                             name: Education
                             registrationCode: f7GbHvH
                             deviceCount: 15
                           - id: 7xzA3LrJS5b903jrTpYd
                             name: Employee Training
                             registrationCode: a8YhTzK
                             deviceCount: 30
   /organizations:
      get:
         description: |
          Returns a list of all organizations that can be controlled with a given API Key

          <small><b>Need a multi-org API key?</b> Email support@managexr.com for early access to a single API key that allows you to control multiple organizations</small>
         responses:
            '200':
               description: A list of organization summary objects.
               content:
                  application/json:
                     schema:
                        type: array
                        items:
                           properties:
                                 id:
                                    type: string
                                    description: Unique identifier of the organization
                                 name:
                                    type: string
                                    description: Name of the organization
                                 activeDevices:
                                    type: string
                                    description: Number of devices currently registered on the organization
                                 deviceLicenses:
                                    type: number
                                    description: Number of device licenses
                        example:
                           - id: A1ZICsr6XwX5fv4E16QM
                             name: High school Musical
                             activeDevices: 30
                             deviceLicenses: 50
                           - id: EwmhggZ9zYIqMVVMz2s7
                             name: Sky High
                             registrationCode: 50
                             deviceCount: 100

components:
   securitySchemes:
      basicAuth:
         type: http
         scheme: basic
         description: |
           API key based authentication where <encoded-value> is the Base64 encoding of `API_KEY_ID`:`API_KEY_SECRET`
           - **Username**: The API Key ID.
           - **Password**: The API Key Secret.

security:
   - basicAuth: []
